[2016-05-12 20:50] #508 closed

[2016-05-12 20:55] jonafato commented on #517
Is there a specific, technical question here? If so, please provide more details and any applicable sample code.

[2016-05-14 12:11] osya commented on #216
So, am I right that when using Factory Boy with Flask-Security UserFactory will now use user_datastore from Flask-Security?

[2016-05-15 04:17] cstrutton commented on #504
if you look at the log in and out functions in utils.py you will find that the signal "identity_changed" is fired at both login (with user.id) and logout.

[2016-05-15 08:11] cstrutton commented on #504
Still more rooting through the source code and I found _user_logged_in_ and _user_logged_out_ signals are fired (see [user_logged_in](https://github.com/maxcountryman/flask-login/blob/master/flask_login/utils.py#L178) and [user_logged_out](https://github.com/maxcountryman/flask-login/blob/master/flask_login/utils.py#L200)).

[2016-05-15 08:15] erwinyusrizal commented on #504
aha yeah @cstrutton I got it now, it handled by flask-login not by flask-security, thanks!

[2016-05-15 08:16] #504 closed

[2016-05-15 09:27] cstrutton opened #518 "How to check if a user has a role in a template"
I have been going over the source code for a couple of days now.  Is there a way to check if a user has a particular role in a template.  My use case is simple.  I only want to make a menu item available to certain users.  it would be useful to do this:

    {% if current_user.has_role('admin') %}
        <li><a href="{% url_for('dashboard') %}">Dashboard</a></li>
    {% endif %}

[2016-05-15 10:14] cstrutton commented on #518
It was as simple as I thought it should be:  I just had to add a `has_role` method to the User model.  This allowed what I wanted above to work.  This could be added to the user mixin:

        def has_role(self, role):
            return role in self.roles

[2016-05-15 10:14] #518 closed

[2016-05-15 19:28] revmischa commented on #466
+1

[2016-05-20 13:41] lnielsen commented on #320
The current behaviour is quite a show stopper for using flask-security when needing to support legacy password hashes. We basically had to resolve to monkey patching the ``utils.get_hmac`` function.

PR #378 has a minimal solution that would allow us to not monkey patch ``get_hmac``. Any chance this would get integrated. Travis is only failing because of PEP8 errors, so if @longhotsummer doesn't h

[2016-05-21 18:29] herman5 commented on #236
Thank you for posting the override functionality! Was just what I needed! Would be great to have this in the docs

[2016-05-26 04:27] rcubarocha opened #521 "Using subdomains"
I am modifying an existing application for multi-tenancy through subdomains.

I see that one can set the Flask-Security's subdomain through `SECURITY_SUBDOMAIN` which I have set to `<subdomain>` to dynamically catch the name of the request's subdomain.

However, this now requires that the routes exposed by Flask-Security declare `subdomain` as one of their parameters, which they don't currently do

[2016-05-27 15:08] jonafato commented on #521
Can you provide a specific example of what isn't working? Flask-Security [passes the subdomain to the blueprint](https://github.com/mattupstate/flask-security/blob/9e5865d9735b0b292360f63588ed4725c376757e/flask_security/views.py#L327-L330), so each view function is not required to accept a `subdomain` argument individually.

[2016-05-28 01:17] rcubarocha commented on #521
I'm not sure how much more specific I can get to be honest.

If I do not set the `SECURITY_SUBDOMAIN` config var, then the login-related routes work (i.e. login, logout, register...), but they only respond in the root domain (e.g. domain.com).

If I set `SECURITY_SUBDOMAIN`, then the same login-related respond at the subdomain (e.g. sub.domain.com), but stop working with the error I mentioned befo

[2016-05-29 11:57] cstrutton commented on #521
Did I not read somewhere that you can process a subdomain variable in a "before request" function.  Essentially strip out the subdomain variable and store it for later use?  Sorry I dont have time to elaborate more.

[2016-05-29 19:10] darker0n commented on #148
Thank you very much :+1:

[2016-05-31 18:02] Richard-Mathie commented on #340
:+1:  this hits us too

for the time being we have to

`security._state = security.init_app(app, user_datastore)`

when we init, and

`security.context_processor(security_context_processor)`

instead of using the decorator patten

[2016-06-01 14:41] Galstat commented on #496
I have created a pull request #522
for this issue, stay safe!

[2016-06-03 01:14] radusuciu commented on #30
@bschumacher Did you attempt your suggested solution?

`requests.post(url + '/login',
    data=json.dumps({
        'email': email,
        'password': password,
        'csrf_token': requests.get(url + '/login_csrf').json()['csrf_token']
    }),
    headers={'content-type':'application/json'}
).json()`

Response:

`{'meta': {'code': 400}, 'response': {'errors': {'csrf_token': ['CSRF token missing

[2016-06-03 03:11] radusuciu commented on #30
If like me you are not married to getting that auth token then you may follow this route using cookies instead:

[code]

Finally, you can then do:

[code]

You may use the cookies for further requests. If you don't want to setup that `/login_csrf` route you can use `BeautifulSoup` too:

[code]

and then proceed as above.

[2016-06-08 18:45] monkeysecurity commented on #350
Bump.

To go along with this, It'd be nice if Flask Security had built in support for integrating with SAML/oauth/oauth2/idp/etc.  Bonus points for updating the login templates to use a package like satellizer, though that may not be desirable for non-angular folks.

[2016-06-12 10:47] renejahn opened #524 "Customization of endpoints"
I have recently come across a problem within a project where we had to authenticate different kinds of users where each kind needed to have different endpoints for registering.

So as far as I know flask security allows a single database table e.g. _User_ to be able to authenticate. We had two of those tables that needed to authenticate in a little varied manner.

The solution was to kinda copy&pa

[2016-06-14 18:16] ibbad commented on #156
Hi, I am also facing the same error. I am calling using Flask for RestAPI backend and making rest calls from my java code. I need to know if I can retrieve csrf token to be added with my request from client side. Thanks for help

[2016-06-20 08:26] shipperizer opened #525 "_render_json returning 200 in case of bad request/wrong password"
https://github.com/mattupstate/flask-security/blob/develop/flask_security/views.py#L52

Here a `200 OK` status gets returned even in case of a failure, shouldn't it return the same code present in the `[meta][code]`?
PR here in case you think it's a good idea https://github.com/mattupstate/flask-security/pull/526

[2016-06-29 07:52] andersea commented on #463
Just ran into this as well while testing.

The chain of events are:

view calls LoginForm.validate(), executing this code:

    def validate(self):
        if not super(LoginForm, self).validate():
            return False

        if self.email.data.strip() == '':
            self.email.errors.append(get_message('EMAIL_NOT_PROVIDED')[0])
            return False

        if self.password.data.str

[2016-07-01 23:13] biomap opened #527 "Using get_user() in the UserDatastore instead of find_user()"
## Issue:
I am extending the login/register routine and customizing the UserDatastore using username in addition to email (although this question would apply more to those not using an email) with custom Groups and other Items.  When automating role creation via signals (user_registered or user_confirmed) and passing the user to [add_role_to_user(self, user, role)](https://github.com/mattupstate/f

[2016-07-11 02:34] threemonks opened #530 "too many query into User/Role table"
I am seeing more than 10 queries into User/Role tables for my average web page, which displays a few charts. Is this normal?  It unnecessarily increase database traffic, and clutters the flask app log.

I have seen similar issues raised, but not directly with this project here:
http://stackoverflow.com/questions/23069644/flask-sqlalchemy-one-get-many-db-queries
https://gist.github.com/nickretallac

[2016-07-11 21:43] mbarakaja opened #531 "Question: Will newer versions of bcrypt be supported?"
In the latest documentation of Flask-Security appears that **`bcrypt>=2.0.0`** is not currently supported.

How can this impact the application security? I'm new with text hashing libraries and I wondering if is fine to use an older version of the library.

In another hand, installing bcrypt to the latest version (3.1.0) and running my test doesn't broke anything at this time.

[2016-07-11 22:08] jonafato commented on #531
As of #430, `bcrypt>=2.0.0` should be supported, and the [docs](https://flask-security.readthedocs.io/en/latest/configuration.html) no longer mention this restriction. Can you point to where this is documented so it can be updated?

[2016-07-11 22:21] mbarakaja commented on #531
I see...

I was reading the documentation in [pythonhosted.org](https://pythonhosted.org/Flask-Security/configuration.html), which is where the documentation link point out in the `README.rst` file.

Actually, the link `http://packages.python.org/Flask-Security` is redirecting to `https://pythonhosted.org/Flask-Security/`.

[2016-07-18 10:25] bfrgoncalves opened #532 "Question: How to show /register view only to admin role?"
Hi,

I was wondering if there is any option to filter the registration of users only for users with the admin role. Is there a way to apply the @roles_required decorator to the /register default route?

Thanks

[2016-07-20 20:26] hueniverse commented on #388
For travis support, just add:

[code]

[2016-07-25 17:32] vision-mcgm opened #533 "Override flask_security: check email domain before register: is there a better way?"
Hello,

I'm using flask-security for logins and registrations. I'd like to add a feature: checking that a user has a .ac.uk domain name before registration. I also want to provide a password field on the register page: this password is required for registration.

As I understand it, I can't use a signal for this, becuse signals are async: the registration process will continue whatever happens aft

[2016-07-25 17:58] jonafato commented on #533
The easiest way to accomplish this would probably be to override the registration form ([docs](https://pythonhosted.org/Flask-Security/customizing.html#forms)) and use a [custom WTForms validator](https://wtforms.readthedocs.io/en/latest/validators.html#custom-validators) to check the email address for the domain.

[2016-07-26 14:43] clrech commented on #451
@aldarund take a look at https://github.com/mattupstate/flask-security/issues/453

[2016-07-27 21:51] magnunleno commented on #420
I've just hacked a code which addresses this feature. It basically consists of a custom login form and a custom Datastore, I'll try to document the code and make it Python2 compatible in order to send a pull request soon.

[2016-08-13 08:05] #527 closed

[2016-08-15 13:18] designium commented on #320
Any update on this?

[2016-08-15 16:36] abendebury opened #539 "Using roles_required with pluggable views"
Can anybody help me figure out how to apply `roles_required` to a flask pluggable view?

https://stackoverflow.com/questions/38925644/flask-security-roles-required-with-pluggable-views

I can't seem to get the route to stay correct when doing this.

[2016-08-16 13:08] #498 closed

[2016-08-16 22:18] dusktreader opened #540 "post to login endpoint for token acquisition should respect USER_IDENTITY_ATTRIBUTES"
The addition of the SECURITY_USER_IDENTITY_ATTRIBUTES flag allows the application to use another field such as username as the identity attribute used to login. However, the security.login endpoint still expects there to be an 'email' field specified in the body of the post request. This should be fixed so that any field specified in the SECURITY_USER_IDENTITY_ATTRIBUTES configuration may be passe

[2016-08-17 02:54] dusktreader opened #541 "make auth_required respect the LOGIN_DISABLED config flag"
It would be very nice to be able to use the LOGIN_DISABLED flag to disable authentication requirements for some unit tests.

The decorators 'auth_required' and 'auth_token_required' should respect the LOGIN_DISABLED flag.

[2016-08-17 08:41] amanvir commented on #161
Anybody picking this up?

[2016-08-19 06:27] pradeeps commented on #76
hi Matt, Is this fixed now?

[2016-08-24 17:40] spitzbubchen commented on #30
@radusuciu Any ideas on how to logout and destroy your token cookie?

[2016-08-24 18:09] radusuciu commented on #30
@spitzbubchen This wasn't a concern for my usage, but the first thing I'd try is just posting against `/logout`.  Is that too naive?

[2016-08-24 18:27] bschumacher commented on #30
@radusuciu I was using that for some time, recently I have switched to Flask-JWT for my API token auth stuff.

@spitzbubchen As @radusuciu suggested posting to /logout will work fine.

Alternatively, you could call the logout_user in your application logic at some point.

from flask_security import logout_user

[2016-08-24 18:35] radusuciu commented on #513
This seems like it might help: https://github.com/mattupstate/flask-security/pull/516

[2016-08-25 20:24] spitzbubchen commented on #30
@radusuciu

Doesn't seem to work.
[code]
and right after that I run,
[code]
yet I still get secure server access without having to re-login...

[2016-09-13 01:12] caseydm opened #545 "Enable bcrypt as default encryption setting"
Flask-security currently stores passwords in plaintext by default. My fear is that others like me did not notice this behavior, as the only reference to it is a note in the configuration section saying 'Defaults to plaintext'.

From researching it sounds like bcrypt is the best available option. I recommend either bundling bcrypt in the install and enabling as the default encryption setting, or ad

[2016-09-13 10:50] discort opened #546 "Using Flask-Security without roles"
Сontinue to https://github.com/mattupstate/flask-security/issues/188

I think the `hybrid_property` is a bad solution which violates OOP principles. Instead of useless property `roles` I propose to use something like that:

[code]

or like that:

[code]

@mattupstate what do you think?

[2016-09-13 12:53] sanderl-mediamonks opened #547 "Why is the UserDatastore using 'active' while in forms 'is_active' is used"
Also in flask_login 'is_active' is used everywhere.

Does this mean we need both active and is_active on the User model?

[2016-09-13 22:42] Eco-logical commented on #547
'is_active' is a Mixin lookup method.
https://github.com/mattupstate/flask-security/blob/develop/flask_security/core.py#L309

[2016-09-14 08:07] sanderl-mediamonks commented on #547
Ah, man.. Didn't see it. Thanks.

[2016-09-14 08:07] #547 closed

[2016-10-09 16:20] tigerfoot opened #550 "LICENSE file is missing on pypi"
To help packaging, and especially legal review, it would be cool to have LICENSE file included in pypi targ.gz.

[2016-10-11 02:22] merlineus opened #551 "view.py still using request.json instead of request.get_json"

[2016-10-14 23:08] riteshn-niara commented on #286
Is it possible to configure it per user basis somehow or this is a global change?

[2016-10-16 08:27] swedishmike opened #552 "FlaskWTFDeprecationWarning"
I get the following error when running a Flask app at the moment:

<- Cut ->
sphuc.py:34: FlaskWTFDeprecationWarning: "flask_wtf.Form" has been renamed to "FlaskForm" and will be removed in 1.0.
  form = NameForm()
<- Cut ->

Having looked at the issue it seems that the warning is coming from/due to flask-security, more specifically this line in forms.py:

`from flask_wtf import Form as BaseForm`

[2016-10-19 16:09] karpitsky opened #554 "Invalidate sessions on Reset Password"
Hello,

Is it possible to invalidate all previous sessions on reset password with flask-security?

[2016-10-25 20:27] pradeeps commented on #403
I don't have this fix though I am using Flask-Security==1.7.5  ? Is this released ?

[2016-10-26 06:31] Speedy1991 opened #555 "Script fails on DeactivateUserCommand"
`manager = Manager(app)
security = Security(app=app, user_datastore=user_datastore)
manager.add_command('deactivate_user', DeactivateUserCommand())`

calling it:
`python3 manage.py deactivate_user -u test@example.com`

leads to

[code]

ActivateUserCommand with same issue

get_user in datastore is **_never_** called, so the "NotImplemented" is never raised.
That was really confusing.

[2016-10-26 15:16] michaelmahony opened #556 "User clicking confirmation link after confirmation and expiration causes confirmation email to resend"
If the user follows the confirmation email after it has expired, a new confirmation email is sent even if the account has already been confirmed.

[2016-10-27 00:16] PierreRochard opened #557 "token_loader method of Flask-Login's LoginManager object has been removed"
The token_loader method of Flask-Login's LoginManager object has been removed, predictably causing a `AttributeError: 'LoginManager' object has no attribute 'token_loader'` error.

The method is used here: https://github.com/mattupstate/flask-security/blob/9e5865d9735b0b292360f63588ed4725c376757e/flask_security/core.py#L226

The method was removed by @alanhamlett in this commit: https://github.com

[2016-10-27 09:28] alanhamlett commented on #557
Token loader was [removed](https://github.com/maxcountryman/flask-login/blob/master/CHANGES#L13) because user's can easily create an insecure token if they didn't correctly use the `utils.make_secure_token` inside their custom token loader. The same functionality can be achieved with a `request_loader` so the insecure `token_loader` wasn't really needed.

The solution for Flask-Security is to remo

[2016-10-27 09:45] jirikuncar commented on #557
@alanhamlett great, I just wanted to do that. Let's hope we can get it to upstream soon.

[2016-10-27 13:07] alanhamlett commented on #557
#558 fixes this. I'll try to submit a PR here before we merge breaking changes to Flask-Login in the future.

[2016-10-27 15:14] jirikuncar commented on #557
FYI @mattupstate [tweeted](https://twitter.com/mattupstate/status/790184050640162816) that he is looking for maintainers.

[2016-10-27 15:16] jonafato commented on #557
Thanks for the report and the quick fix. I can review the PR later today.

[2016-10-27 15:48] jonafato commented on #550
This is fixed by #544 and will be available in the next release.

[2016-10-27 15:48] #550 closed

[2016-10-27 15:53] #517 closed

[2016-10-27 16:05] jonafato commented on #533
@vision-mcgm I'm going to close this issue. If you haven't found a solution that works for you yet, I'm happy to reopen / continue the discussion.

[2016-10-27 16:05] #533 closed

[2016-10-27 16:15] vision-mcgm commented on #533
I managed this according to your advice - thank you for the advice!
Fintan

On 27 October 2016 at 17:05, Jon Banafato <notifications@github.com> wrote:

[2016-10-27 17:27] jonafato commented on #530
@threemonks I'm not sure what the issue is here. If you share the code for your views, I may be able to help.

Based on the comments in your StackOverflow question, it looks like you've dropped Flask-Security for this, so I'm closing this issue. If that's not the case, and you would still like help addressing this issue, feel free to reopen it.

[2016-10-27 22:31] jonafato commented on #557
@PierreRochard @alanhamlett I'm going to do my best to summarize what happened here (with some backstory).

1. Flask-Login's latest release included a [breaking change](https://github.com/maxcountryman/flask-login/blob/594e5d77c1101a103c76caf46895cea350e14287/CHANGES#L13-L16).
2. The [last time](https://github.com/maxcountryman/flask-login/blob/594e5d77c1101a103c76caf46895cea350e14287/CHANGES#L50-

[2016-10-27 23:45] threemonks commented on #530
That StackOverflow question is not mine.

From what I can see, it does multiple (>=6) queries into User/Role tables regardless of which view I visit. For example, a simple view that display an html template with no database operation other than displaying welcome message to user, like this:

`@app.route('/')
@app.route("/sitemap/")
def sitemap():
    return render_template('sitemap.html')`

The re

[2016-10-28 02:20] threemonks commented on #530
Updated my previous comment with the app.before_request detail, which is probably related. But I would not expect so many database queries even with app.before_request to mandate login for every page.

[2016-10-28 12:15] jirikuncar opened #559 "Integration and release processes."
Dear @mattupstate and @jonafato:

In the light of recent Flask-Login release, I would like to ask you about plans for this package. There are many useful PRs that deserve to be merged (#494 #502 #519 #526 #528 #537 #538 #542 #544 #549 and more). Some of them are over a year old without any comment from maintainers.

If there is an interest I would offer my help with maintaining this package. Until

[2016-10-30 13:58] fuhrysteve commented on #559
It would be great if @jirikuncar could be added as a maintainer to help catch up. I don't see any value in having two forks, especially for such a small (albeit active) community.

[2016-11-01 15:08] cydan33 opened #560 "Add token timeout after inactivity"
It would be a great feature if Flask-Security allowed to specify a specific time for token timeout after x minutes of inactivity (just like the SECURITY_TOKEN_MAX_AGE configuration)

[2016-11-09 05:47] kartikdanidhariya opened #561 "Redirect Issue in @login_required decorator in flask_security"
hi i am using flask_security in my flask project
i make successfully login using login_user(user) method
i check it return true
but after that it redirect to login page again
how can i solve this issue

[2016-11-09 06:29] kartikdanidhariya opened #562 "Send confirmation mail on register user in flask_security"
hi,
i used flask_security in my flask project
when i register user it not send any confirmation mail to user
i want to send that mail whe n register is done and user can confirm registration from that link
how can i do that in flask-security.

[2016-11-09 16:01] melonista commented on #559
IMO, if current maintainers are not interested on this, @jirikuncar (or whoever) should convert the fork into an independent library. This library is very useful and should be up to date.

[2016-11-09 16:34] jonafato commented on #559
We're working on a maintenance path forward. I'll post another update here with details this week.

[2016-11-09 16:35] jonafato commented on #561
Please provide a minimal example (in code) demonstrating this issue.

[2016-11-09 18:45] velerodro opened #563 "How to merge login form and register form into the same form?"
I want to have the login form and register form into one form. There is boolean "new_user", if it is True, I want it to register the new user, otherwise I want it to log the user in.

I have tried to do this by inheriting the existing forms instead of making a new one, but it does not work. What I have tried is the following:

[code]

This code does not work (users are not logged in neither regist

[2016-11-10 07:03] kartikdanidhariya commented on #561
hi my code is

from flask import Flask, render_template,request,url_for
from flask.ext.sqlalchemy import SQLAlchemy
from flask.ext.security import Security, SQLAlchemyUserDatastore, \
    UserMixin, RoleMixin, login_required,login_user
from flask_mail import Mail, Message
from itsdangerous import (TimedJSONWebSignatureSerializer as Serializer, BadSignature, SignatureExpired)
from itsdangerous impo

[2016-11-11 23:13] melonista commented on #563
Just had to use ConfirmRegisterForm instead of RegisterForm.

[2016-11-11 23:14] velerodro commented on #563
Just had to use ConfirmRegisterForm instead of RegisterForm.

[2016-11-11 23:48] velerodro commented on #563
Reopening because when triying to register a user that already exists, raises a mysql exception

[2016-11-14 14:21] lohriialo commented on #562
You can try `app.config['MAIL_SUPPRESS_SEND'] = True`

Then follow the instructions here in docs https://pythonhosted.org/Flask-Security/quickstart.html#id4

[2016-11-14 15:17] lohriialo opened #564 "[Feature Request] Please provide flask-social login"
_**Wondering when will flask-social be part of flask-security?**_

[2016-11-18 16:00] avilaton opened #566 "TRACKABLE info is not stored when using login_user directly"
We use
[code]
and noticed that information regarding current_login, last login, etc is not stored into the DB (sqlalchemy for us) unless we add a `db.session.commit()` after the `login_user(...)` call.

After reading a bit the code, it looks like it could be fixed by adding a call to `after_this_request(db.session.commit)` in the `flask_securtity.utils.login_user` method. Not sure where we should

[2016-11-19 06:02] sherzberg commented on #531
I just tried `bcrypt==3.1.1` and it worked just fine.

Just another datapoint for people coming here after looking at the same old documentation I was looking at like the above poster.

[2016-11-29 18:32] savraj commented on #531
I'm glad I came here because i was trying to figure out how to use bcrypt < 2.0.0 as that's what these docs say: https://pythonhosted.org/Flask-Security/configuration.html

[2016-12-02 03:21] ianzimmerman opened #568 "Kwargs not accepted at creation of Security object without both app and datastore"
Trying to create the security object at security.py like so:

    from flask_security import Security, SQLAlchemyUserDatastore
    from flask_security.forms import RegisterForm, ConfirmRegisterForm
    from .models import db, User, Role

    user_datastore = SQLAlchemyUserDatastore(db, User, Role)

    class ExtendedRegisterForm(RegisterForm):
        username = StringField(*ext_reg)

    ...

[2016-12-07 19:42] clovehitch opened #569 "user registration is trying to send confirmation email even though its disabled"
It looks like flask is trying to still send a confirmation email even though I have the option disabled. Is there something else that could be causing this? The user is still created but an error page is shown.

The setting I have configured:
app.config['SECURITY_REGISTERABLE'] = True
app.config['SECURITY_CONFIRMABLE'] = False

I have attached the error page.
[error.txt](https://github.com/mattups

[2016-12-13 12:40] chris-allan commented on #559
It would be great if the maintainership could be further clarified so that those of us who depend on this great library can decide what to do. We've been using @jirikuncar's fork for almost 6 weeks now. Especially as it includes #565.

All of us have families, day jobs and other distractions in our lives but it has now been over a month. As @jirikuncar has already stated, there are numerous useful

[2016-12-15 10:34] jirikuncar opened #570 "Breaking changes in Mongoengine"
- [ ] drop Python 2.6 support
- [ ] amend imports

More details on https://github.com/MongoEngine/mongoengine/releases/tag/v0.11.0

(solved in https://github.com/inveniosoftware/flask-security-fork/pull/4)

[2016-12-20 13:39] jirikuncar commented on #569
If you don't want any email to be send, please configure `SECURITY_SEND_REGISTER_EMAIL=False` [1].

--
[1] https://pythonhosted.org/Flask-Security/configuration.html#miscellaneous

[2016-12-20 14:08] jirikuncar commented on #568
@ianzimmerman can you use app configuration instead? See new test case in https://github.com/inveniosoftware/flask-security-fork/pull/8.

[2016-12-31 20:43] tim-hub opened #573 "How to config the login view, form more? or write my own one?"
I read this. https://pythonhosted.org/Flask-Security/customizing.html

But how can I config more?

For example, I want to add a validator for the password field, how can I do that?

If I want to have my own view, can I? how?

[2017-01-01 03:50] scraggelz opened #574 "No reference table error when using the quickstart code"
Hey, when trying to copy and paste the basic quickstart tutorial I get the following error:
"
sqlalchemy.exc.NoReferencedTableError: Foreign key associated with column 'roles_users.user_id' could not find table 'users' with which to generate a foreign key to target column 'id'
"
However adding `__tablename__= "users"` into the User class fixes the problem.
Adding this to the quickstart tutorial wo

[2017-01-05 17:22] yugi003 opened #577 "Disable any API exposed by flask-security"
I was trying to implement login functionality in my app. I started with using **flask-security** for basic api exposed by flask-security like register, login, logout etc.

While doing this, I realised that some of the API's provided by flask-security is not of my use. So for that, I was looking to disable some of the API but didn't get anything related to that.

I saw **flask-security-config**, bu

[2017-01-06 08:21] jirikuncar commented on #577
@yugi003 have you tried to set different feature flags e.g. `SECURITY_REGISTERABLE`?

- docs: https://pythonhosted.org/Flask-Security/configuration.html#feature-flags
- code: https://github.com/mattupstate/flask-security/blob/develop/flask_security/views.py#L324-L371

[2017-01-06 12:41] jirikuncar commented on #559
Dear all,
I have tried to integrate as many as possible bugfixes in past months. It is time to move forward and bring new features too (e.g. CLI using Click https://github.com/inveniosoftware/flask-security-fork/pull/9). Since there is no update from current maintainers, I will continue development in our [fork](https://github.com/inveniosoftware/flask-security-fork) hoping that one day it can bec

[2017-01-06 14:12] mattupstate commented on #559
Just want to mention that @jonafato and I will be meeting next week to work out a maintenance plan.

[2017-01-06 14:22] fuhrysteve commented on #559
I hope you guys are able to come up with a way to keep the community united!

[2017-01-06 15:21] jirikuncar commented on #574
@scraggelz can you tell us which version of SQLAlchemy and Flask-SQLAlchemy packages you have installed?

It works for me with following packages:
[code]

[2017-01-07 16:10] adityagupta679 commented on #143
https://github.com/mattupstate/flask-security/issues/143#issuecomment-28714498

I am wondering why encryption is not built in with create_user.

[2017-01-07 17:07] adityagupta679 commented on #143
Explanation in #136 satisfies my curiosity.  Though it would be nice to include this fact in the documentation.  @mattupstate

[2017-01-09 06:04] BitLooter opened #578 "Upgrade PassLib for better hashes"
PassLib released 1.7.0 in November, bringing some new features - notably, support for argon2 and scrypt hashes. Argon2 especially, as it's a new algorithm built to be resistant to GPU-based attacks and was designed to replace bcrypt, scrypt, etc. Updating Flask-Security to use PassLib 1.7.0 would allow it to use these algorithms.

[2017-01-10 04:49] scraggelz commented on #574
When running the same command I'm coming up with the same results.

`
 Flask-SQLAlchemy==2.1
SQLAlchemy==1.1.4
`

This is the current version of Flask-Security correct?
`Flask-Security==1.7.5`

[2017-01-10 04:55] stamaimer opened #579 "can't work with gunicorn with multiple works?"
I'm writing a website with Flask. I use `Flask-Secuirty` to do authentication. I use `nginx + gunicorn` to deploy it. And I use `gunicorn -w worker_number -k gevent run:app -p app.pid -b 127.0.0.1:5000` to start gunicorn. If the `worker_number` is `1`, everything is ok. If the `worker_number` is greater than `1` like `3`, I can't login in with `Flask-Security`. The output of server said the post r

[2017-01-10 07:41] jirikuncar commented on #579
Can you provide full example app? Is it possible that you are using SQLite in-memory database?

[2017-01-10 07:54] jirikuncar commented on #574
Yes. Alternatively, you can try `Flask-Security-Fork` which contains several security patches.

I have tried one more time with Python 2.7.12.

**`app.py`**
[code]

[code]

[2017-01-10 07:57] stamaimer commented on #579
Thanks for your reply.

I use MySQL database behind Flask-SQLAlchemy. The full example app host at https://github.com/stamaimer/MPWeChatRSS.

On 10 Jan 2017, 3:41 PM +0800, Jiri Kuncar <notifications@github.com>, wrote:

[2017-01-10 08:19] jirikuncar commented on #579
@stamaimer I have test it with the example app with small modifications:

[code]

and it works fine using `gunicorn -w 5 -k gevent app:app -p app.pid -b 127.0.0.1:5000`.

[code]

[2017-01-10 09:13] stamaimer commented on #579
can you login?

[2017-01-10 10:03] stamaimer commented on #579
I also test with sqlite. But when i set the SERVER_NAME of flask, it's won't work. @jirikuncar

[2017-01-10 10:25] jirikuncar commented on #579
When I change the homepage to
[code]
I can see `{'_sa_instance_state': , 'roles': [], 'confirmed_at': None, 'email': u'matt@nobien.net', 'active': True, 'password': u'password', 'id': 1}`.

[2017-01-10 10:38] stamaimer commented on #579
After add --preload parameter to gunicorn, it works normally. But i still can't figure out the reason cause this problem.

[2017-01-10 18:31] scraggelz commented on #574
Ah, after updating my packages and reviewing my code I had a typo:

 `        db.Column('user_id', db.Integer(), db.ForeignKey('users.id'))`

changed it to this:

`        db.Column('user_id', db.Integer(), db.ForeignKey('user.id'))`
and now it works! thanks!

[2017-01-10 18:31] #574 closed

[2017-01-10 23:47] UnicycleMatt opened #580 "Customizing register view switches which form class is used unexpectedly"
1. I've created my own ExtendedRegisterForm class.

class ExtendedRegisterForm(RegisterForm):
	first_name = StringField('First Name', [validators.required()])
	last_name = StringField('Last Name', [validators.required()])
	phone_number = StringField('Phone Number', [validators.required()])

2. I am passing this into the Security object as such:

security = Security(app, user_datastore, register_fo

[2017-01-11 20:02] joaobarbosa commented on #194
@erwagasore did you managed to fix it? I'm having the same issue :cry:

[2017-01-11 22:06] eriktaubeneck commented on #194
I think this is likely the same issue [described in issue 340](https://github.com/mattupstate/flask-security/issues/340).

[2017-01-11 23:07] joaobarbosa commented on #194
Thanks @eriktaubeneck!

[2017-01-15 10:10] tlaskyd opened #581 "sqlalchemy.exc.IntegrityError"
# Register err
When I try to register the email that is already registered, `there is sqlalchemy.exc.IntegrityError`

[2017-01-16 10:51] jirikuncar commented on #555
There is a new CLI using Click implemented in https://github.com/inveniosoftware/flask-security-fork/pull/9. I hope you will find it useful. You can simply replace Flask-Security dependency with Flask-Security-Fork (note: the imports stay untouched).

[2017-01-16 10:52] jirikuncar commented on #559
@mattupstate @jonafato do you have any updates on a maintenance plan?

[2017-01-16 15:22] mattupstate commented on #559
@jirikuncar I've given @jonafato pypi rights to publish releases, and he plans on contributing fixes in the near future that will help his own project work, so that will help. Additionally, I'm forcing myself to find some time to go through the back log of issues and PR's. We'll do our best to get some much  needed updates out the door.

[2017-01-16 15:56] jirikuncar commented on #559
@mattupstate please have a look at the master branch of our fork since it includes many PRs together with little changes needed for smooth integration.

[2017-01-16 18:36] neaket360pi commented on #552
Looks like this was fixed in https://github.com/mattupstate/flask-security/pull/549

Can someone push up a new release to pypi?

[2017-01-17 19:29] nikitph commented on #299
@jvsteiner can you please explain the code here . i am not able to open beer.

HMAC.base64(password, salt, sha256) = 1st_stage
bcrypt(1st_stage)

i get to the first stage but then for bcrypt you need to do bcrypt(1st_stage, hashed_pw) yes?
really appreciate your help

[2017-01-24 00:44] illume commented on #559
Good to hear there is some movement, and I look forward to the next release :)

I recently started using your fork releases @jirikuncar Thanks!

[2017-01-24 09:07] sybrenstuvel opened #582 "send_reset_password_instructions() created invalid token when user ID is None"
We've run into an issue where we have an admin interface to create new users. This interface has an `on_model_change(user)` callback, which is called when a new user is created. However, unbeknown to us, that user doesn't have a database ID set yet. As a result, we call `flask_security.recoverable.send_reset_password_instructions(user)` with`user.id = None`. When using this token to reset their pa

[2017-01-24 09:35] sybrenstuvel commented on #582
PS: it might be seen as a different issue, but apparently `reset_password_token_status(token)` returns `invalid=False` even though `user=None`.

[2017-01-24 15:56] jirikuncar commented on #582
@sybrenstuvel do you think you could provide a minimal example setup to reproduce it or a test case?

[2017-01-28 15:10] velerodro commented on #559
Sorry guys, but it is pretty obvious that this repo is not going to catch up. Would be pretty easy to let @jirikuncar help and put the repo up to date. Otherwise, we should create an independent repo. This package is so important for the python community, and could be much better if people were given the opportunity of contributing.

[2017-01-28 15:18] melonista commented on #559
The only disadvantage of using a fork is that it is not possible to post new issues to the fork, right?

[2017-01-29 20:52] kellyjanderson opened #583 "Server Side session expiration"
We are looking to implement a feature much like Facebook and Google's logout all other sessions. To do this the server needs to be able to invalidate a token. Is there any way for flask security to do this?

[2017-01-30 09:17] jirikuncar commented on #559
@melonista I can enable issues on the fork. I was hoping to quick integration with "upstream", but it looks like we might live with the fork longer.

[2017-01-30 09:26] jirikuncar commented on #583
We have done something which you might find useful. You can create a model [1] that stores relation between users and sessions. Then you need set of functions [2] for populating/cleanning these relations which you can connect to specific signals or views.

--
[1] https://github.com/inveniosoftware/invenio-accounts/blob/master/invenio_accounts/models.py#L109-L126
[2] https://github.com/inveniosoftw

[2017-02-02 01:14] christopherthomson opened #584 "malformed pbkdf2_sha512 hash (checksum must be exactly 64 bytes)"
I'm using Flask-Security 1.7.5 with Flask-Admin 1.4.2 in development, using the example app [here](https://github.com/flask-admin/flask-admin/tree/master/examples/auth). The example app works for me, but when applying the same code to my own project I get this [error.txt](https://github.com/mattupstate/flask-security/files/746551/error.txt)

Here is my User table:

CREATE TABLE `user` (
  `id` INT

[2017-02-02 12:52] imaia commented on #435
Regarding JWT:

* "doesn't integrate with flask session cookies" - https://auth0.com/forum/t/stealing-jwt-from-authenticated-user/352 and https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage
* "doesn't have all the goodies" second that!

[2017-02-02 13:42] imaia opened #585 "Best way to help?"
Which is the best way to help flask-security?

[2017-02-02 21:00] RoosterKelly commented on #583
@jirikuncar That is what we were thinking of doing. Didn't you have to update the functions that require authorization to check the state of the tokens in the database?

[2017-02-02 23:13] christopherthomson commented on #584
After re-reading [this comment](https://blog.miguelgrinberg.com/post/restful-authentication-with-flask/page/2) I upped the db field to varchar(512) and that sorted it. Hope this helps someone new to this stuff like me :)

[2017-02-02 23:13] #584 closed

[2017-02-03 10:29] jirikuncar commented on #552
@neaket360pi if you need a quick solution, you can use Flask-Security-Fork from PyPI (`pip uninstall Flask-Security`, `pip install Flask-Security-Fork` - no other changes needed).

[2017-02-03 10:35] jirikuncar commented on #583
@RoosterKelly the sessions get deleted on logout and expired by Redis automatically. There is however one more thing you want to do when deactivating user - removing all active sessions (see https://github.com/inveniosoftware/invenio-accounts/blob/master/invenio_accounts/datastore.py).

[2017-02-03 10:36] jirikuncar commented on #585
It might be related to #559.

[2017-02-03 16:38] neaket360pi commented on #552
Thanks @jirikuncar

[2017-02-03 20:11] WilliamMayor commented on #545
I noticed in #244 that there's a reluctance to make a decision on behalf of the developer here. I understand that, but I think that having plaintext be the default is frighteningly dangerous. Perhaps the default behaviour can be to raise an exception unless an encryption scheme is picked?

If that's not reasonable then the fact that the default is plaintext needs to be screamed at the developer wh

[2017-02-07 13:06] imaia opened #587 "Document views behavior"
flask-security custom views lack documentation; which are they? How to use them? Specially if through json requests.

[2017-02-07 13:18] jirikuncar commented on #545
@WilliamMayor I would go for a warning (see https://github.com/jirikuncar/flask-security/commit/2309c20455862e7d0dd30a4d4053eb7bdd6145a6).

[2017-02-07 13:20] jirikuncar commented on #587
@imaia do you have any proposal how to extend http://flask-security.readthedocs.io/en/latest/customizing.html#views ?

[2017-02-07 13:27] imaia commented on #587
Maybe. I was thinking about a new section explaining which views flask-security provides and how to use them. Something like: view login; it has support for regular requests and json requests; the regular request behavior is transparent; with json, it should be used like this: <explanation>

There is already the customizing, explaining the templates, but there is nothing on the json requests.

[2017-02-07 13:29] WilliamMayor commented on #545
Warnings seem a little too light-touch for me. Password security is a serious thing and I don't think it should be possible for developers to make objectively bad decisions. Not wanting to pick which good decision to make, that's fine.

[2017-02-07 13:47] jirikuncar commented on #545
@WilliamMayor there is already a recommendation for `bcrypt` in docs. IMHO the warning seems like a good compromise if no option is set for a beginning.

[2017-02-07 13:49] jirikuncar commented on #587
@imaia would you mind drafting a quick proposal?

[2017-02-07 13:51] WilliamMayor commented on #545
@jirikuncar But why let people shoot themselves in the foot this badly? There's no benefit to plaintext passwords and barely any work required to set up hashed ones. Why have a default that makes this security library insecure?

[2017-02-07 13:55] jirikuncar commented on #545
@WilliamMayor I don't have strong opinion about it. I see benefits in both (a) having good defaults (b) educating users about configuration. I can change the default password hash for `Flask-Security-Fork` if you think it will help.

[2017-02-07 14:29] WilliamMayor commented on #545
What's `Flask-Security-Fork`? Would it help? Which code is installed when you `pip install Flask-Security`? I assumed this repo?

[2017-02-07 15:04] jirikuncar commented on #545
@WilliamMayor we are maintaining a [fork](https://github.com/inveniosoftware/flask-security-fork) with many (security and other) patches applied. It would be nice to have more secure defaults there.

[2017-02-08 07:58] lnielsen commented on #559
@mattupstate and @jonafato - I really hope you will consider integrating the @inveniosoftware fork where @jirikuncar has done a really great job integrating PRs and fixing tests - it's really going to save you time. I don't think it benefits neither you nor the Python community to have this package split. You've done a really great job producing this package and we're all extremely grateful for th

[2017-02-08 19:41] imaia commented on #587
@jirikuncar yeah, custom views link is quite complete, but it doesn't cover json interaction. Example: a valid login request with json answer would send id and authorization_token as response; If the same request was done a second time, the answer would be plain html, which is not expected; I'll try writing a quick proposal.

[2017-02-09 04:18] italomaia commented on #587
Opinion https://github.com/mattupstate/flask-security/pull/590

[2017-02-09 05:56] jxltom commented on #194
@erwagasore @joaobarbosa @eriktaubeneck

If you are going to use factory method, recursion error will raise if it is not used properly. Here is the example based on author's example for your reference. The trick is using the ```state``` object returned by ```init_app``` for setting cutomized mail sending function. The author has explained it [here](https://github.com/mattupstate/flask-security/iss

[2017-02-09 06:41] jxltom commented on #340
I have searched for the old issues and found that the author has explained [here]() in #141 that the constructor and ```init_app``` are not meant to be used together. This is for initialize many application with same ```Security``` instance. So for fixing this issue is just adding ```self._state = None``` as followings.

[code]

And when users need to access security attributes, use ```state``` ob

[2017-02-09 18:16] imaia commented on #371
That is caused by the decorator. Any reason for the behavior to be kept?

[2017-02-09 22:58] dland512 commented on #215
+1 for free speech

[2017-02-10 09:58] jirikuncar commented on #194
@jxltom we are using similar solution as you have presented in https://github.com/mattupstate/flask-security/issues/194#issuecomment-278554575. Would you mind extending the documentation with your example?

[2017-02-10 14:02] jxltom commented on #194
@jirikuncar Sure, will do that.

[2017-02-10 22:15] dneyirp opened #596 "Incorrect link for documentation"
Hi. The current README file and links at https://pypi.python.org/pypi/Flask-Security point to old documentation. This can be easily rectified by simply changing the documentation links to http://flask-security.readthedocs.io/en/latest/.

[2017-02-13 14:01] imaia opened #597 "Improve successful JSON login response format"
Right now, a successful json login resturns something like {meta: {status: int}, response: {user: {id: int, authentication_token: str}}}

Why not make is simpler, like this: {id: int, authentication_token: str}

[2017-02-13 15:06] jirikuncar commented on #597
It might be related to work in https://github.com/mattupstate/flask-security/pull/594.

[2017-02-13 16:00] imaia commented on #597
It is, thanks.

[2017-02-13 16:00] #597 closed

[2017-02-14 15:03] imaia opened #598 "SQLAlchemyUserDatastore create_user creates user with plain text password"
As in description. An call to create_user for SQLAlchemyUserDatastore creates a new user with password in plain text; regardless of config.

[2017-02-14 15:14] jirikuncar commented on #598
@imaia you need to use `flask_security.utils:encrypt_password` if you create user manually.

--
see usage https://github.com/mattupstate/flask-security/search?utf8=%E2%9C%93&q=encrypt_password

[2017-02-14 16:04] marcosschroh commented on #206
@mattupstate You're right. But I think we need it. This is an example why:

Scenario:
You are using a token to authenticate the users

Flow:
1. User create an account (a session is created in the backend)
2. The user forgot the password. So, we need to use the endpoint that manages the Reset Password functionality (views.forgot_password). This function is decorated with @anonymous_user_required.
3

[2017-02-14 17:16] imaia commented on #598
I was using encrypt_password to set the password. Wouldn't it make sense to set the password properly, when using create_user? An new user with "plaintext" password has little use.

[2017-02-15 05:10] kellyjanderson commented on #598
Binding the encryption algorithm to the call to create user would make transitioning to a new encryption algorithm difficult. It is best for the low level functions to be closer to CRUD and save what you pass in.  For instance if you started out using SHA-1 and later decided to upgrade to HMAC-SHA-1, you would have to change the create_user in order to support it.  The create_user should not be co

[2017-02-15 12:55] imaia commented on #598
@kellyjanderson There could be a encrypt_password method bound to the UserDatastore, were there further concerns. That encrypt_password method could be, then, overwritten on specific needs and create_user could then encrypt the password on call.

My concern is that create_user does not create "the right row". How useful is an user without a functional password value?

[2017-02-15 12:57] imaia commented on #587
Made this draft over there, explaining some views behavior on json calls.

[2017-02-17 09:52] jirikuncar commented on #206
@marcosschroh client using tokens must not use session. Then there is no problem with the decorator around "forgot password".

[2017-02-17 09:54] jirikuncar commented on #598
@imaia can you maybe elaborate on why do you want to use the "low-level" model directly to create user? It might help us to find correct solution for this problem.

[2017-02-17 13:19] italomaia commented on #598
I thought of **user_datastore.create_user** as a middle level method, as it prepares the arguments before persisting. Maybe it could also "prepare" the password, if provided, encrypting it properly. This behavior is most useful for user added through CLI (this is the problem that originated this issue).
Does it make sense?

[2017-02-17 13:24] jirikuncar commented on #598
@italomaia there is an improved CLI in our fork (https://github.com/inveniosoftware/flask-security-fork/blob/master/flask_security/cli.py#L67) which is already released as Flask-Security-Fork==2.0.0.

[2017-02-17 13:30] italomaia commented on #598
@jirikuncar  That I did not know. I can live with that, thanks!
ps: when should I consider using the fork? It seems way healthier than the "mainstream" repo.

[2017-02-17 13:32] jirikuncar commented on #598
@italomaia feel free to use it. We are running several production services on it without troubles 🤞 so far.

[2017-02-17 13:40] italomaia commented on #598
By the way, is flask-security abandonware? @mattupstate

[2017-02-17 13:45] jirikuncar commented on #598
@italomaia you last question is related to https://github.com/mattupstate/flask-security/issues/559

[2017-02-20 17:30] goelanshul opened #599 "Unable to add role to user."
I am trying to add role to user but get error always.
Here's the code for the same.

@app.before_first_request
def create_user():
    db.create_all()
    role_end_user = user_datastore.find_or_create_role(name='admin', description='Administrator')
    role_admin = user_datastore.find_or_create_role(name='end-user', description='End user')
    db.session.commit()
    password = utils.encrypt_passwo

[2017-02-22 11:37] stamaimer commented on #124
Hi, @mattupstate. After read the `get_user` method of `SQLAlchemyUserDatastore`. I found `get_user` try to use `_is_numeric` transform `identifier`(the value of email key in login form) to integer. If the identifier can transform to a integer, it will use as the primary key to get user from user table. I don't know why do this before `get_identity_attributes`. I found this will cause bug if someon

[2017-02-23 11:17] italomaia commented on #599
Drop this line:

print user_datastore.add_role_to_user('t123@gmail.com','admin')

[2017-02-23 11:21] goelanshul commented on #599
But, then how to add role to user.
I tried :
user_datastore.add_role_to_user('t123@gmail.com','admin')
as well and it gives the same error

[2017-02-24 03:52] philsalesses commented on #215
+1

[2017-02-25 08:53] oz123 opened #600 "peewee.OperationalError: Connection already open - on first run of example app"
Hi,
I ran the example as shown in the docs. Upon first run, I got the above exception.

Refreshing the page, makes this disappear. This scares me a be that if I use Peewee with flask I might
encounter more problems. Is there a chance someone looks into this?

### update

if I call the function  directly I don't see this error, e.g.:
[code]
Maybe it is an issue in flask_peewee?

[2017-02-25 09:08] italomaia commented on #599
You mean here?
user_datastore.create_user(email='t123@gmail.com', password=password,mobile_number="8611120316",roles= ['admin'])

You're adding the same role twice in your example.

[2017-02-25 10:14] goelanshul commented on #599
That was just for testing combinations.
I've tried multiple combinations of the same.
Here's the list for that :
 `user_datastore.create_user(email='t123@gmail.com', password=password,mobile_number="8611120316",roles= ['admin'])
`
`user_datastore.add_role_to_user('t123@gmail.com','admin')`

But every time I commit my session post this, I get the following error :
InvalidRequestError: Object '<User

[2017-03-07 20:45] sdiepend opened #601 "SECURITY_CONFIRMABLE mixup between confirm password and confirm email"
I think there is some weird behaviour when using SECURITY_CONFIRMABLE.

The documentation states the following, so this is a flag to enable confirmation of an email address.

But when set to True it also removes the second password field, so I think this is mixing up email confirimation and password confirmation.

register_user.html
[code]

I think it has to do with the following two forms:
forms.

[2017-03-11 00:15] JetForMe opened #602 "Anything more than getting started documentation?"
I've gone through the docs, and successfully integrated Flask-Security into my fledgling app, getting it to show a login form for the home page as described in the Getting Started section.

Now I'm looking to see how to do a number of additional things, and I can't find documentation describing how to use F-S to do these things (I did find lots of information on how to customize these, implying th

[2017-03-11 10:56] JetForMe opened #603 "Some templates ignored"
It seems that flask-security ignores some templates, and not others. For example, I have a working `security/forgot_password.html`, but my `security/login_user.html` is completely ignored.

[code]

[code]

[2017-03-11 11:03] JetForMe commented on #603
Update: it seems that if I rename my file to something else (e.g. `my_login_user.html`) and set `SECURITY_LOGIN_USER_TEMPLATE` to point to that, it picks it up.

[2017-03-13 13:07] stamaimer opened #604 "login with numeric field"
I have read #124 #396 #464. And I use the method mentioned above to login user with phone number. After read the `get_user` method of `SQLAlchemyUserDatastore`. I found `get_user` try to use `_is_numeric` transform `identifier`(the value of email key in login form) to integer. If the identifier can transform to a integer, it will use as the primary key to get user from user table. I don't know why

[2017-03-13 17:23] ghostku opened #605 "How to use Basic HTTP authentication?"
I'm trying to use Basic HTTP auth. So I just took QuickStart Manual from (here)[https://pythonhosted.org/Flask-Security/quickstart.html#id1] and change view decorator from `@login_required` to `@http_auth_required` but it says

Where did I make a mistake&

[2017-03-14 07:52] BigBorg opened #606 "Factory pattern with different dbs using mongoengine"
I wrote an application factory and want run test using different dbs. In the factory I instanciate MongoEngine, use it to init application and get MongoEngineUserDatastore instance. Then I store MongoEngineUserDatastore instance to current_app so that I could use them inside view function. But it turns applications with different configurations are actually using the same database. Is there any ex

[2017-03-17 01:32] caseydm commented on #559
What are the differences between flask-security and flask-security-fork at this point? I've started several new projects and am torn on choosing between the two. Are there security vulnerabilities in flask-security? Or is flask-security-fork simply implementing features to support other database types, etc?

[2017-03-17 07:02] blurrcat commented on #559
@caseydm You may take a look at the [changelog](https://flask-security-fork.readthedocs.io/en/latest/changelog.html) of flask-security-fork

[2017-03-18 12:04] stamaimer commented on #605
@ghostku Have you ever solve the problem?

[2017-03-20 11:22] threemonks opened #607 "AttributeError: 'AnonymousUserMixin' object has no attribute 'roles'"
When I logout, I got this error:

AttributeError: 'AnonymousUserMixin' object has no attribute 'roles'

Debugging shows that it comes from core.py:_on_identity_loaded() line 218:
[code]

Right after logout, current_user is a AnonymousUserMixin from flask_login.mixins, which does not have such attribute roles.

Can you add a check if current_user have attribute 'roles' before you loop through it?

[2017-03-20 19:45] herman5 commented on #559
@mattupstate @jonafato any update on this? Given the amount of work @jirikuncar has contributed, it would be helpful for him to be added as a maintainer. Itching for a new release :-)

[2017-03-22 07:23] biomap commented on #604
A phone number would still be a string as it has numeric and has punctuation '555-555-5555' or something as such.  if you are trying to login with JUST a numeric value then over class (super) the UserDatastore and replace the get_user method.  Otherwise this is a a specific call to get the ID (Primary Key) of the database row and does a ...query.get(ID) call to the database (in SQLA at least).  Th

[2017-03-22 07:32] biomap commented on #602
Best bet is to search GH for others implementing Flask-Security.  The documentation however includes everything you are asking about.  This is all in [Configuration/feature flags](https://pythonhosted.org/Flask-Security/configuration.html#feature-flags]) .  The workflow is already built in and implemented you just turn on the feature set you wish to use (confirmable, registerable, recoverable etc)

[2017-03-22 07:46] stamaimer commented on #604
@biomap Thanks for your reply. In China there is only digits in phone number. And i can't find where use the `get_user` by primary key in the project. And i also find `find_user` in `UserStore` or subclasses.

[2017-03-22 07:57] biomap commented on #559
Well if we decide to move along with this I have a private registration PR that I can push (I need to rework it so that it fits in the core design).   :D   My only comment on this is whatever way this project moves forward (its obvious it will one way or another) please allow for  super-classing the main FS object so that customization can still be achieved relatively easy.

Other thoughts and not

[2017-03-22 08:09] JetForMe commented on #602
I finally did figure it out, but it took a lot of googling. It took a while to figure out that I had to go to all the dependencies' docs to do things.

[2017-03-22 08:11] #602 closed

[2017-03-22 08:26] jirikuncar commented on #606
@BigBorg can you provide a code snippet so it is easier to understand for me? Have you tried the pattern that you can find in  `tests/conftest.py`?

[2017-03-22 08:32] jirikuncar commented on #607
@threemonks the anonymous user class should be `flask_security.core:AnonymousUser`.

[2017-03-22 08:57] jirikuncar commented on #603
Can you verify that the `security` blueprint is correctly registered and you don't have any custom template loader?

[2017-03-22 09:58] BigBorg commented on #606
What I meant was to initiate more than one app and store user information for each app in different databases. But this is actually not likely to be needed. As I went through mongoengine document, I realized it seems rather difficult to achieve this since you can have only one default connection. You simply can't do it just by using different "MONGODB_DB" config in the same test without configurin

[2017-03-22 10:49] biomap commented on #602
Word! sorry respond so late and to reopen but in reference to your comment...

This may help you or someone else that stumbles across this thread...

I have found it is super helpful to get the cmd line working and start inspecting the library (and flask object in general) especially if you have ipython running in your shell or better yet in an editor.  I prefer pycharm (free v avail) which will d

[2017-03-22 11:31] biomap commented on #606
I know you are using Mongo however this is totally possible when using SQLA using binds.   I think this has more to do with how Mongo is implemented than FS.  Perhaps you could write a module that abstracts the mongo db connections then FS would use those when its generating the app dependent upon set variables.

[2017-03-22 20:02] r0b1n1sl4m opened #609 "How to disable all routes and views"
I've been building a REST API & using flask-security to manage user accounts. I'm using it's inner functions but I don't need any routes and views as I've developed something custom with it. So for some reason I need to disable the routes and views so that nobody can access anything like /login,/confirm etc. Is there any option available? If yes please help me with that.

[2017-03-22 20:11] biomap commented on #609
register_blueprint = False
https://github.com/mattupstate/flask-security/blob/develop/flask_security/core.py#L413

[2017-03-22 20:13] r0b1n1sl4m commented on #609
Thank you very much, This is exactly what I was looking for :)

[2017-03-22 20:13] #609 closed

[2017-03-22 20:26] JetForMe commented on #603
Well, other templates do work. I don't know how to verify it's correctly registered, and I don't have a custom template loader unless some other component installed one.

[2017-03-22 20:54] biomap commented on #603
When you overwrite a security template in myfabulousapp/templates/security you do not need to specify an alternative location for the template in configs.  FS will look in your templates/security/ folder first.  Try that and see if it picks it up.  Otherwise place it in another location templates/auth/myloginform.html and point to it there to see if it resolves.

[2017-03-22 20:55] JetForMe commented on #603
My experience was this was not the case, unless I explicitly set the template path as described above.

[2017-03-22 21:17] biomap commented on #601
Two completely different things register_user_form.password_confirm is a form validator.
https://github.com/mattupstate/flask-security/blob/develop/flask_security/forms.py#L125
security.confirmable (SECURITY_CONFIRMABLE=True) allows you to send confirmation emails before the user is activated.

[2017-03-22 21:31] biomap commented on #603
From the Docs:
Overriding these templates is simple:

    Create a folder named security within your application’s templates folder
    Create a template with the same name for the template you wish to override

You can also specify custom template file paths in the configuration.

[2017-03-22 21:35] JetForMe commented on #603
That's exactly what I have, and it didn't see my templates without me also setting `SECURITY_LOGIN_USER_TEMPLATE`.

[2017-03-22 21:45] biomap commented on #603
hmm.. i can confirm this totally works.  I use it on several apps.  I would double check your code to see if you have something wonky going on which interferes with this.  Like I said move it and test it to see if it picks it up. Try without the config and test.  As I said in the other post, times like this is where having access to the shell is nice.

[2017-03-22 22:27] biomap commented on #580
#601

[2017-03-22 22:33] biomap commented on #582
I ran into this when implementing private registration.  The current token method requires that token be assigned to a user so that it can look them up to gather the information it needs to send the request (ie email address).  I am not sure what you are doing however if you are not adding the user to the database but wanting to get the token status you will have to implement your own method of do

[2017-03-23 09:35] sybrenstuvel commented on #582
Here is a minimal example that shows this issue:

[code]

To see the error, visit `http://127.0.0.1:5000/`, then visit the reset link that was mailed.

This is not so much a request to support users with `None` IDs, but a request to move the error message forward in the password reset flow. IMHO `send_reset_password_instructions(user)` should raise a `ValueError` when `user.id is None`. That way t

[2017-03-23 20:55] biomap commented on #582
I see what you are saying now.

This is because you should not be able to create a token without being registered in the app as it stands.  All of the validation is done via the forms which IMO is the best way to do it.  It returns none from the DB so that it doesn't raise an error per se and kill the app.  Validation Errors are best handled via forms and not at the database level.  If this strate

[2017-03-23 21:13] biomap commented on #581
You have a unique field on that column, which if that is the main user identifier is what you want.

[2017-03-31 19:27] herman5 commented on #559
bump

[2017-03-31 19:58] biomap commented on #559
Postgres is including flask-security as an RPM (prob debs too) in their repo's now.  Would be nice to stay active and maintain that.

[2017-04-03 15:18] jacquerie commented on #545
FYI `Flask-Security-Fork` is now using `bcrypt` by default: https://github.com/inveniosoftware/flask-security-fork/pull/32.

[2017-04-04 06:49] ioparaskev commented on #559
@mattupstate it's really sad that this repo is "prisoned" here and people like @jirikuncar can't contribute officially. If you can't maintain this, maybe you should move it to an organization where more people will be able to contribute and decide about it.

[2017-04-09 19:39] herman5 commented on #559
It's been months now, can we please have an update.

[2017-04-09 21:14] mafrosis commented on #559
Suggest it's time to start opening pull requests again the fork. I notice some people have already started doing so.

[2017-04-10 09:30] ioparaskev commented on #559
Maybe it's time to push people to start using the fork repo & pypi package instead of this unmaintained one

[2017-04-10 10:42] mafrosis commented on #559
I suggest that authors of open pull request should copy them over to [flask-security-fork](https://github.com/inveniosoftware/flask-security-fork).

If there's a pull request you want merging, I suggest you prod the author and ask them to move their P/R.

Feels to me like the momentum is already with the fork.. It's 182 commits ahead right now.

[2017-04-10 11:14] jirikuncar commented on #559
@mafrosis I have already merged many PRs from this repo. There is no need of coping them over if they are passing tests and there is an agreement on it. Please be patient as I am discussing with @mattupstate the future steps. Thank you very much for your contributions!

[2017-04-10 14:11] marciorf commented on #559
Nice to hear that. Hope you guys solve this soon.

[2017-04-20 08:24] jirikuncar commented on #585
@imaia thank you for your patience. You can quickly help by answering issues, improving documentation or fixing reported bugs. Please note that many of the existing issues will be solved after merging #617 so you don't start a duplicated effort. Cheers!

[2017-04-20 08:24] #585 closed

[2017-04-20 08:37] jirikuncar commented on #564
@lohriialo the projects work nicely together as described in [documentation](https://pythonhosted.org/Flask-Social/) of Flask-Social.

[2017-04-20 08:37] #564 closed

[2017-04-25 03:03] stamaimer opened #618 "Can't custom login_form when create the instance of Security"
I use the factory pattern of Flask. I create Security instance with `security = Security(datastore=user_datastore, login_form=AppLoginForm)`, and then init it with `security.init_app(app)`. But the login_form still the default of Flask-Security. It works use follows code`security = Security(datastore=user_datastore)` and `security.init_app(app, login_form=AppLoginForm`. I want to use a consistent

[2017-04-25 06:07] jirikuncar commented on #618
You can set the login form in config value `SECURITY_LOGIN_FORM`.

--
see also https://github.com/inveniosoftware/flask-security-fork/blob/master/tests/test_misc.py#L256-L276

[2017-04-25 06:07] #618 closed

[2017-04-26 09:53] yoursdearboy commented on #18
In addition to Chris solution - to localize login message `SECURITY_MSG_LOGIN` it's also necessary to provide localize callback for login manager.

[code]

[2017-04-27 06:18] #448 closed

[2017-04-27 06:18] #499 closed

[2017-04-27 06:18] #557 closed

[2017-04-27 06:18] #466 closed

[2017-04-27 06:18] #570 closed

[2017-04-27 06:18] #559 closed

[2017-04-27 06:23] jirikuncar commented on #18
@yoursdearboy the Flask-BabelEx has been integrated in #617 (originally from https://github.com/inveniosoftware/flask-security-fork/pull/33). Please check if it works for you and in case you have a problem open new issue. Thank you!

[2017-04-27 06:23] #18 closed

[2017-04-27 07:02] #607 closed

[2017-04-27 07:29] jirikuncar commented on #320
The old behaviour (from ~2012) can be enabled using `SECURITY_SINGLE_HASH=True` which effectively switches off the use of HMAC.

[2017-04-27 07:29] #320 closed

[2017-04-27 07:40] jirikuncar commented on #598
Binding hashing directly to datastore can bring problems when a migration needs to be done. If you know about any other elegant solution please propose a PR. Thank you!

[2017-04-27 07:40] #598 closed

[2017-04-27 07:42] jirikuncar commented on #596
The link has been fixed. Thank you!

[2017-04-27 07:42] #596 closed

[2017-04-27 07:45] #582 closed

[2017-04-27 07:47] jirikuncar commented on #578
PassLib version has been raised in 20de8297.

[2017-04-27 07:47] #578 closed

[2017-04-27 07:50] jirikuncar commented on #581
@tlaskyd can you confirm that you have `'email'` in `FLASK_USER_IDENTITY_ATTRIBUTES` configuration parameter?

[2017-04-27 08:52] lnielsen commented on #559
@jirikuncar Will you start the process of closing down inveniosoftware/flask-security-fork? I.e. put a comment on the GitHub repo, probably either make a last release or simply update the pypi readme that the fork module should no longer be used.

[2017-04-27 09:16] jirikuncar commented on #559
@lnielsen yes, I will try to prepare release within a week or two so we can close the fork and notify users.

[2017-04-27 12:05] yoursdearboy opened #621 "Login message doesn't translated"
Login message "Please log in to access this page." doesn't translated.
Probably Flask-Login translation should be configured:
[code]

[2017-04-27 12:11] yoursdearboy opened #622 "Wrong I18N_DOMAIN or po-files names"
Greetings. I can't get translations work with default value of `I18N_DOMAIN='flask_security'`. It seems to be incorrect because translations po-file has name `messages.po`. As I understand from [Flask-BabelEx documentation](http://pythonhosted.org/Flask-BabelEx/#flask.ext.babelex.Domain) then filename should be `flask_security.po`:

I've installed flask-security with pip using git://..@develop and

[2017-04-27 12:28] jirikuncar commented on #622
@yoursdearboy you are right. There was missing configuration in `setup.cfg`. Please check #623.

[2017-04-27 13:07] yoursdearboy commented on #622
@jirikuncar thx you for fast response, works now.

One more question on this - is it possible to integrate `pybabel compile` into `setup.py` somehow? It's a bit strange to do it manually for 3rd party module.

[2017-04-27 13:13] jirikuncar commented on #622
@yoursdearboy `python setup.py compile_catalog` should work.

[2017-04-27 14:04] #340 closed

[2017-04-27 14:05] jirikuncar commented on #555
The CLI using Click has been integrated in #617.

[2017-04-27 14:05] #555 closed

[2017-04-27 14:06] jirikuncar commented on #554
Not at the moment. Please follow #583.

[2017-04-27 14:06] #554 closed

[2017-04-27 14:10] jirikuncar commented on #524
@renejahn can you solve it by creating different user datastore which can do a lookup in both tables?

[2017-04-27 14:14] stamaimer commented on #618
@jirikuncar I can't find the configuration key named `SECURITY_LOGIN_FORM` in document or the source of Flask-security.

[2017-04-27 14:17] #601 closed

[2017-04-27 14:19] stamaimer commented on #618
I have try it. It worked. Thanks.

[2017-04-28 06:53] biomap commented on #524
How about using a role to control this.

[2017-04-28 07:45] jirikuncar opened #624 "Document form configuration"
- [ ] `SECURITY_LOGIN_FORM`
- [ ] ...

--
Related to #618

[2017-04-28 07:45] #622 closed

[2017-04-28 12:03] sdiepend commented on #601
Hello, why wontfix? I can have a go at it this weekend/next weekend if you want.

[2017-05-01 14:00] IngoKl opened #626 "Documentation for Babel/i18n integration"
While the support for Babel/i18n has been merged, the documentation still lacks information on how to (correctly) implement translations/language support into applications using flask-security.

[2017-05-02 07:55] jirikuncar commented on #626
We should include something very similar to https://flask-admin.readthedocs.io/en/v1.5.0/advanced/#localization-with-flask-babelex together with link to configuration options (e.g. `SECURITY_I18N_DOMAIN`).

[2017-05-02 08:28] sdiepend commented on #601
@jirikuncar I almost have a fix ready. But it doesn't give you the option to turn off retyping the password. (password confirmation).

[2017-05-02 09:02] jirikuncar commented on #601
@sdiepend please check #580 since it looks very similar.

[2017-05-02 19:11] yugi03 commented on #577
@jirikuncar : Sorry for replying too late. This doc: [ https://pythonhosted.org/Flask-Security/configuration.html#feature-flags](url) helped me to achieve what I wanted.

[2017-05-02 19:31] themylogin opened #627 "Putting .mo files into repository"
As I've understood, Flask-Admin is [considered](https://github.com/mattupstate/flask-security/issues/626) to be an example of well-done internationalized Flask extension. They [put](https://github.com/flask-admin/flask-admin/tree/master/flask_admin/translations/de/LC_MESSAGES) compiled .mo files along with .po files into repository (and thus, PyPi distribution), because it is really [inconvenient]

[2017-05-02 20:29] themylogin opened #628 "Forms are not being translated"
All flask-security form fields were constructed with plain English strings. I did not understand how this is supposed to work and just hacked this: https://github.com/themylogin/flask-security/commit/6753200e3799d7fe02681c1c992965d5007604d7. Why were not form translations working out of the box?

[2017-05-03 07:06] #577 closed

[2017-05-03 07:12] jirikuncar commented on #627
@themylogin the `.mo` files will be included in the released package (see https://github.com/mattupstate/flask-security/blob/develop/.travis.yml#L62). I would not recommend to depend on Git repo in production environment.

[2017-05-03 07:13] #627 closed

[2017-05-03 11:36] IngoKl commented on #628
I'm also trying to get the forms (e.g. for the login/registration) translated via Flask-BabelEx. I can't, however, get your hack to work - did you change anything else besides calling `lazy_gettext`?

My initial thought, which until now I have not pursued, was to tap into Flask-WTFs translation routines by passing the `flask_security' domain.

[2017-05-03 22:40] inkadnb opened #630 "Add support for Argon2"
Since Passlib has been updated, would like to see support for Argon2. I assume this simply needs to be added to the PASSWORD_SCHEMES list in core.py?

[2017-05-04 09:14] sdiepend commented on #601
@jirikuncar I would add a SECURITY_RETYPABLE to add a flag to enable/disable the retyping of the password. But I'm not familiar with the testing setup, would you maybe have some time some day to walk me through?

[2017-05-05 07:32] jirikuncar commented on #630
@inkadnb you are right. You can simply add `argon2` to `SECURITY_ PASSWORD_SCHEMES` configuration. There is no need of changing `core.py` at the moment.

[2017-05-05 07:32] #630 closed

[2017-05-05 07:37] jirikuncar commented on #601
IMHO it should work by providing new form without password confirmation field. We should however document it.

[code]

[2017-05-07 01:03] frnsys commented on #473
any updates on this? just ran into this issue myself.

[2017-05-07 14:02] jirikuncar commented on #473
We can clean the API so `change_user_password` expects an instance of user instead of LocalProxy.

[2017-05-07 14:37] #473 closed

[2017-05-07 21:21] IngoKl commented on #628
I (now more thoroughly) tried to implement @themylogin's  solution, but could not get it to work.
Merely adding `return lazy_gettext(_default_field_labels.get(key, ''))` to `get_form_field_label(key)` in forms.py did not result in any forms being translated.

I then tried to import `_security.i18n_domain` in order to call `_security.i18n_domain.lazy_gettext(..)`. This, however, resulted in a `Runt

[2017-05-10 07:22] #621 closed

[2017-05-12 14:50] themylogin commented on #628
@IngoKl you are right, it was only half of the fix. here is the other one: https://github.com/themylogin/flask-security/commit/2891fe70ec7a45072095e112efeff82a63bbd267

[2017-05-13 13:27] IngoKl commented on #628
@themylogin Thank you! Now it works really nicely :). Will you do a PR?

[2017-05-15 08:07] agua19940824 opened #640 "Reset password functionality doesn't work"
I have same problem.
Flask-Security ==1.7.5
Flask-SQLAlchemy==2.2
SQLAlchemy==1.1.9
[code]
[code]
When I didn't  set SQLALCHEMY_COMMIT_ON_TEARDOWN = True,  after submit the reset_password_form, it appears **sqlalchemy.orm.exc.DetachedInstanceError: Parent instance <User at 0x6d415c0> is not bound to a Session; lazy load operation of attribute 'roles' cannot proceed** and the new password didn't pu

[2017-05-15 08:08] agua19940824 commented on #92
I have same problem.
Flask-Security ==1.7.5
Flask-SQLAlchemy==2.2
SQLAlchemy==1.1.9
[code]
[code]
When I didn't  set SQLALCHEMY_COMMIT_ON_TEARDOWN = True,  after submit the reset_password_form, it appears **sqlalchemy.orm.exc.DetachedInstanceError: Parent instance <User at 0x6d415c0> is not bound to a Session; lazy load operation of attribute 'roles' cannot proceed** and the new password didn't pu

[2017-05-15 09:23] jirikuncar commented on #640
@agua19940824 can you please check if you can reproduce the problem with latest `develop` branch?

[2017-05-16 12:02] dneyirp commented on #596
Hi Jirikuncar

It is partially fixed. Only the first link on the page for Documentation is fixed, the second one is not.

[2017-05-16 15:21] jirikuncar commented on #596
@dneyirp can you point me to the code where it should be fixed? Thank you

[2017-05-18 12:10] dneyirp commented on #596
Hi Jiri

On this page: https://pypi.python.org/pypi/Flask-Security

First domentation link below the word “Resources” is fixed
but the other one below the “Author: Matt Wright” is still pointing to the pythonhosted.org site.

Wrong link for “Documentation: Flask-Security package documentation” line.

Till later

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: J

[2017-05-19 14:29] jirikuncar commented on #596
@dneyirp the https://pypi.python.org/pypi/Flask-Security will be fixed with new release.

[2017-05-22 18:30] #628 closed

[2017-05-25 09:53] yoursdearboy opened #643 "Missing Flask-Peewee dependency"
Hi. I have a problem with `develop` version. Probably it's because of missing Flask-Pewee dependency in setup.py's `install_requires`?

[2017-05-25 09:56] yoursdearboy opened #644 "Update pypi to version 2"
Current version on [pypi](https://pypi.python.org/pypi/Flask-Security) is 1.7.5 and miss new functions such as i18n, etc..

It would be nice to be able to install releases from pypi or at least have git tags to use with pip.

[2017-05-25 15:27] jonafato commented on #643
The Flask-Peewee dependency is declared [here](https://github.com/mattupstate/flask-security/blob/7abf19d0d0a436301654320f3dad197925c7c6ec/setup.py#L12). I'm unable to reproduce this. Does reinstalling Flask-Security in a new virtualenv fix the issue?

[2017-05-26 09:42] yoursdearboy commented on #643
No, it doesn't.
Here is `pip freeze` output I've got in clean virtualenv:
[code]
It's the same whether I use pip + git or clone and install from directory or using `python setup.py install`.
I don't think `tests_require`s would be installed since they are required only for development.

[2017-05-28 20:15] jrast commented on #643
As Flask Security works with different Flask database extensions, you must install the correct extension by yourself, this is at least how I understand the concept.

Normally, if your app needs Flask-Pewee, this extension is in your requirements anyway.

[2017-05-29 09:04] jirikuncar commented on #643
We can separate the test dependencies to optional extra requirements, however I agree with @jrast  that if your app needs Flask-Pewee, you should have it installed anyway.

[2017-05-29 09:38] yoursdearboy commented on #643
Actually my app doesn't require neither `Flask-Pewee`, nor `pewee`. I agree that it would be nice to install manually only necessary ORM modules.

But in [\_\_init\_\_.py on line 15](https://github.com/mattupstate/flask-security/blob/develop/flask_security/__init__.py#L15) Flask-Security imports all datastores from [datastore.py which imports both - pewee and sqlalchemy](https://github.com/mattups

[2017-05-29 09:58] kvnaveen7 opened #645 "Storing LB ip in current_login_ip and last_login_ip"
Hi, When tracking is enabled flask security is storing Load Balancer ip i.e remote_addr is storing not x-forwarded-for.

[2017-05-29 12:38] yoursdearboy commented on #643
Try this [Dockerfile](https://gist.github.com/yoursdearboy/e5365d1e90dbdf069cc2441cd9101d09) please.

[2017-05-29 12:59] jirikuncar commented on #645
@kvnaveen7  are you using [`ProxyFix`](http://werkzeug.pocoo.org/docs/0.12/contrib/fixers/#werkzeug.contrib.fixers.ProxyFix) in your app?

[2017-05-29 13:01] jirikuncar commented on #643
@yoursdearboy this is of course a bug which I missed.

[2017-05-29 13:02] kalkehcoisa commented on #605
The problem started happening here too.

[2017-05-29 13:28] jirikuncar commented on #605
Is it possible that you have a user with an empty password?

[2017-05-29 18:05] RedCraig opened #648 "signal for login/logout"
Hey there,

Is there a way to execute my own code after a login or logout of a user?

Right now I'm using all flask-security defaults, so logins/outs go straight through flask-security methods.
There don't appear to be any signals for login/outs.

Thanks for any help,
Craig

[2017-05-29 19:14] RedCraig commented on #648
Ah, I was looking specifically at the flask-security signals list.
flask-login has login/out signals:
https://flask-login.readthedocs.io/en/latest/#signals
I assume they'll do the trick.

[2017-05-29 19:15] jirikuncar commented on #648
Exactly!

[2017-05-29 19:15] #648 closed

[2017-05-29 19:16] #643 closed

[2017-05-29 19:22] #645 closed

[2017-06-01 11:11] kalkehcoisa commented on #605
Sorry for taking long. Was working on other issues.
Yes, it is very likely that the user had an empty password.
Checked the database and found some users that still have the password field empty.
Perhaps making the default to password to blank solves the problem?

[2017-06-02 07:52] jirikuncar commented on #605
I would like to understand, how you created user with password equal to `None`, so we can avoid this problem in the future.

[2017-06-02 09:27] kalkehcoisa commented on #605
I think the users, including my own, were created using python-social-auth.
Once it uses the simplest way of logging in. It doesn't ask for a password any time.

[2017-06-02 12:49] herman5 commented on #644
any idea on a release date for 3.0.0?

[2017-06-04 19:53] nfvs commented on #566
The documentation does mention that:
https://github.com/mattupstate/flask-security/blob/develop/flask_security/utils.py#L67

But it does make sense to do that automatically. Using `after_this_request(db.session.commit)` is the wrong approach though, since there's no guarantee that everyone uses a db. It's enough to call `_datastore.commit()` after the call to `_datastore.put(user)`.

[2017-06-06 04:31] mixmastamyk opened #652 "encrypt_password requires app context"
Hi, have a model, with a password field to encrypt:

[code]
But this raises: `RuntimeError: Working outside of application context.`

Seems like password hashing should not be tied to the flask app?

[2017-06-06 04:51] mixmastamyk commented on #652
I found a better example, though it still seems hashing should be available outside the app context.

https://github.com/sasaporta/flask-security-admin-example/blob/master/main.py

[2017-06-06 06:21] jirikuncar commented on #652
@mixmastamyk the password encryption requires app context because it depends on configuration options.

[2017-06-06 06:21] #652 closed

[2017-06-06 06:40] jirikuncar commented on #605
I see several problems (validation, security) with using change password handler when an initial password has not been set. I would propose using `/reset` handler for creating initial password. We can add redirect from `/change` if `user.password` is `None`.

[2017-06-06 08:05] jirikuncar commented on #640
@agua19940824 please note that we are committing after request, hence `SQLALCHEMY_COMMIT_ON_TEARDOWN` is not necessary. Please re-open the issue if you are still experiencing the problem on latest branch and include the output of `pip freeze` command. Thank you!

[2017-06-06 08:05] #640 closed

[2017-06-06 08:16] jirikuncar commented on #566
Since it's explicitly mentioned in documentation and adding explicit commit inside `login_user` would make it significantly harder to include the function inside a function with manually handled transaction, I am in favor of closing this issue.

[2017-06-06 08:16] #566 closed

[2017-06-06 08:17] jirikuncar commented on #603
I can confirm that it works for me and I can't reproduce this issue with latest `develop` branch.

[2017-06-06 08:17] #603 closed

[2017-06-06 08:27] jirikuncar commented on #561
@kartikdanidhariya I am not sure why do you reimplement the endpoints? If you don't want the default url handlers you can disable them by `security = Security(app, user_datastore, register_blueprint=False)`.

[2017-06-06 08:30] jirikuncar commented on #546
closed via acbbdf5b

[2017-06-06 08:30] #546 closed

[2017-06-06 08:31] jirikuncar commented on #545
Closed via 510d1356

[2017-06-06 08:31] #545 closed

[2017-06-06 09:04] nfvs commented on #566
IMHO this behaviour is surprising, and will probably generate _more_ bug reports.

How about adding a parameter to `login_user()`, `db_commit=True`, which will decide if the session is committed or not? People can still pass `db_commit=False` if they want to manually do it themselves, but the default behavior (which I imagine will apply to the majority of people) will be to commit.

[2017-06-06 09:18] jirikuncar commented on #566
I see you concern, however I am strongly against adding global side effect (=commit) to `login_user` function. I hope the documentation is sufficient for a person who would like to implement custom login behavior.

[2017-06-06 09:20] nfvs commented on #566
Fair enough, but the side effect is already there, it's just pending :)

[2017-06-06 09:59] reustle commented on #99
I feel silly, but I just ran into this same issue for the 3rd time in the past few years. The link to this page was still purple, too 😄  I'm thinking I'm not the only one.

Now that I see this again, it makes sense, but maybe some slight alterations can be made to the docs? I'm not able to think of what could be changed, but maybe someone else has a good suggestion. Just basically to highlight tha

[2017-06-06 10:41] Jaza opened #656 "Confirm change of email functionality"
Just submitting this ticket to point Flask-Security users to this example code that I've posted as a gist:

https://gist.github.com/Jaza/86096b4b0e933644cdf3bcc6e798c431

For an app already using Flask-Security, this adds functionality such that:

* User can go to a "change email" page, where he/she enters his/her old email, and new email, and clicks the submit button
* User is sent an email (to h

[2017-06-06 11:20] jirikuncar commented on #656
I would propose to start new section in documentation with tutorials or/and add this code to `examples` folder.

[2017-06-06 12:44] jirikuncar commented on #600
@oz123 the code is run only once when the application is started. It looks like you can't create tables when you already have an open session. In general is not good idea to create tables during request. Please consider creating command line interface for database manipulation instead.

[2017-06-06 12:44] #600 closed

[2017-06-06 12:45] #561 closed

[2017-06-08 06:22] mixmastamyk commented on #215
I read flask-jwt swapped out pyjwt for itsdangerous.  Is this bug obsolete?

[2017-06-10 14:11] kalkehcoisa commented on #605
I'm going to try that.
For now, as I fast fix. I'm setting up the initial value to the password in the database as a random uuid and some system variables. So, they can't login using that password, they have to create a proper one later and it avoid the problem with flask-security.

[2017-06-12 02:35] mixmastamyk commented on #552
How bout it?  Tired of warning messages taking up the console.

[2017-06-12 07:14] jirikuncar commented on #552
closed via #553

[2017-06-12 07:14] #552 closed

[2017-06-12 15:37] #551 closed

[2017-06-12 18:37] owkwen commented on #531
Hmm I just found out that the documentation link mentioned in the read.me is http://flask-security.readthedocs.io/en/latest/configuration.html and not https://pythonhosted.org/Flask-Security/configuration.html
Maybe a redirection to readthedocs.io would help? Or update pythonhosted.org version too?
All I could find on google was the pythonhosted.org version

[2017-06-13 16:12] jirikuncar commented on #215
@mixmastamyk You can achieve more or less the same with pyjwt and itsdangerous.

The general question is how do you see the integration with Flask-JWT? What are you missing on Flask-Security side?

[2017-06-13 18:45] RedCraig opened #658 "CircleCI: invalid input syntax for integer: "untrackable""
When running on CircleCI I'm getting:
[code]
I have:
`SECURITY_TRACKABLE = True`
and
my `Users` model is:
[code]
the `last_login_ip` is an int, which obviously won't work with a string `'untrackable'` value.

What am I doing wrong here? Should I change the table model, or is there some way to change the default untrackable value?
Thanks.

[2017-06-13 18:48] jonafato commented on #658
This behavior was changed in #449.

[2017-06-13 18:54] RedCraig commented on #658
Perhaps I should be using a string type rather than an int for `last_login_ip`?
I can't quite remember where I got the `db.Integer` from. It's not specified in the models: https://pythonhosted.org/Flask-Security/models.html#trackable
or in the [sqlalchemy-quickstart](https://pythonhosted.org/Flask-Security/quickstart.html#sqlalchemy-application).

[2017-06-14 09:49] wisepotato opened #659 "security issue concerning username/password combination"
Now this seems like a glaring security issue. When I input a wrong password but a correct username it gives back : this password is incorrect. SHouldn't it return:
[code]
Instead of  allowing me to guess a username first?

[2017-06-14 10:51] jirikuncar commented on #658
@RedCraig the `'untrackable'` string should be changed to `None/NULL`.

[2017-06-14 10:54] jirikuncar commented on #531
@owkwen The documentation will be updated together with new release. `develop` branch has not limit on `bcrypt` library version.

[2017-06-14 10:54] #531 closed

[2017-06-14 10:56] #580 closed

[2017-06-14 11:01] jirikuncar commented on #563
@velerodro you will need to implement new url handler, or make redirection from login form when user doesn't exists (custom validator on `email` field).

[2017-06-14 11:01] #563 closed

[2017-06-14 11:01] #569 closed

[2017-06-14 11:11] jirikuncar commented on #560
Please check following configuration options:
[code]

[2017-06-14 11:11] #560 closed

[2017-06-14 11:12] #568 closed

[2017-06-14 12:04] jirikuncar commented on #521
@cstrutton yes, you can do it by registering blueprint with `..., subdomain="<subdomain>"`. Then  store it in `g.subdomain` in before request method and remove it from view arguments.

[2017-06-14 12:04] #521 closed

[2017-06-14 12:09] #573 closed

[2017-06-14 12:11] jirikuncar commented on #506
I don't have a machine with Windows to test it. Can you check that the database connection is closed before removing the file?

[2017-06-14 12:11] #579 closed

[2017-06-14 12:12] #658 closed

[2017-06-14 12:15] #321 closed

[2017-06-14 12:20] jirikuncar commented on #493
The `UserDatastore` contains common code for all specialised data stores. If you are trying to implement datastore for a library that doesn't have API similar to SQLAlchemy or MongoDB then you will need to reimplement all methods.

[2017-06-14 12:20] #493 closed

[2017-06-14 12:20] jirikuncar commented on #458
Please use new CLI based on Click.

[2017-06-14 12:20] #458 closed

[2017-06-14 12:22] jirikuncar commented on #481
@hc-12 `unique_user_attribute` sounds good. Feel free to submit a PR.

[2017-06-14 13:15] jirikuncar commented on #539
see https://stackoverflow.com/a/39005060

[2017-06-14 13:15] #539 closed

[2017-06-14 13:16] jirikuncar commented on #525
closed via #526

[2017-06-14 13:16] #525 closed

[2017-06-14 13:19] jirikuncar commented on #599
Is it possible that you are executing the `create_user` function twice (e.g. multiple threads)?

Also use `datastore.commit()` instead of `db.session.commit()`.

[2017-06-14 13:19] #599 closed

[2017-06-14 13:21] jirikuncar commented on #532
@bfrgoncalves please use `Flask-Admin` for exposing the database tables to admin users and disable `SECURITY_REGISTRABLE = False`.

[2017-06-14 13:21] #532 closed

[2017-06-14 13:37] #644 closed

[2017-06-14 13:37] #556 closed

[2017-06-14 13:49] jirikuncar commented on #387
- `SECURITY_PASSWORD_SALT ` closed via ff0ec74df0f36670e4a8216e1345b25810be2089
- `encrypt_password` must be used in app context in order to get correct configuration (wontfix)

[2017-06-14 13:49] #387 closed

[2017-06-14 13:53] jirikuncar commented on #488
You are probably using `app.debug = True`. Make sure you are using `datastore.commit()` instead of direct `db.session.commit()`.

[2017-06-14 13:53] #488 closed

[2017-06-14 13:58] jirikuncar commented on #490
One can provide custom `send_mail_task` function with exception handling.

[2017-06-14 13:58] #490 closed

[2017-06-14 13:59] jirikuncar commented on #486
@grischard it is good idea. Will you submit a pull-request?

[2017-06-14 14:00] #562 closed

[2017-06-14 14:03] jirikuncar commented on #474
It would be nice to add support for themes similar to Flask-Admin (https://github.com/flask-admin/flask-admin/tree/master/flask_admin/templates)

[2017-06-14 14:08] jirikuncar commented on #464
It is possible as explained above with combination of `'USER_IDENTITY_ATTRIBUTES': ['email', 'username'],` and custom `LoginForm`.

[2017-06-14 14:08] #464 closed

[2017-06-14 14:12] jirikuncar commented on #456
I have no strong opinion about this one. Maybe @mattupstate or @jonafato had a similar discussion in the past.

[2017-06-14 14:13] grischard commented on #486
Unfortunately not, I'm not using flask-securty in any of my projects at the moment. This is up for grabs.

[2017-06-14 14:15] jirikuncar commented on #513
Closed via #516

[2017-06-14 14:15] #513 closed

[2017-06-14 14:19] jirikuncar commented on #403
closed via 78f63858

[2017-06-14 14:19] #403 closed

[2017-06-14 14:34] jirikuncar commented on #392
See #656.

[2017-06-14 14:34] #392 closed

[2017-06-14 14:36] jirikuncar commented on #283
Possible implementation is shown in #656 by @Jaza.

[2017-06-14 14:55] jonafato commented on #659
This is a duplicate of #476. This should be fixed, but the message can be overridden as a stopgap solution. If you can, please submit a pull request with this change.

[2017-06-14 21:49] mixmastamyk commented on #215
Well, to integrate with flask-restless turned out to be easy.  But, figuring out how to piece the parts together took days of reading docs and pulling together clues from stack overflow and github.  The results of which are in this tiny file:  https://github.com/mixmastamyk/flask-skeleton/blob/master/main/auth.py

With that in place, there's the following not-fantastic code in the main.py file:

[

[2017-06-19 08:01] jirikuncar commented on #215
@mixmastamyk I would just replace `endpoint.startswith('security.')` with `request.blueprint == app.config['SECURITY_BLUEPRINT_NAME']` to be completely sure.

[2017-06-19 10:31] wisepotato commented on #659
sure, let me cook something up

[2017-06-19 15:46] #659 closed

[2017-06-19 17:41] mixmastamyk commented on #215
Ok, thanks.

[2017-06-21 22:26] MartinMikita commented on #472
Hello, I found this issue after hours trying to find out, why I am not able to confirm my account with a generated token.

The only problem is missing `id` field in SQLAlchemy DB, because the [`get_token_status`](https://github.com/mattupstate/flask-security/blob/develop/flask_security/utils.py#L428) function uses `datastore.find_user` instead of `datastore.get_user`, which is simply SQL filter on

[2017-06-22 11:23] achanda opened #661 "Error when trying to assign role to user"
I am trying to use flask-security to implement RBAC. This is how I am trying to use the signals to assign roles to users (using SQLAlchemy)

[code]

This gives me this error
[code]
I tried running a `db_session.commit()` right after doing the role assignment which had the same problem. What am I doing wrong?

[2017-06-22 11:25] jirikuncar commented on #472
@MartinMikita what is your primary key in User table?

[2017-06-22 11:33] jirikuncar commented on #661
The SQLAlchemy session is already committed.

1. try to create new session in your signal handler and get user and roles again
2. there might be a possible issue with missing explicit `begin` method on datastore

[code]

[2017-06-22 11:43] achanda commented on #661
Thanks @jirikuncar, but I got a similar error with this
[code]
The stacktrace this time looks similar with the error being
[code]
I am using SQLAlchemy
[code]

[2017-06-22 11:55] MartinMikita commented on #472
Field `account_id`, why?

[2017-06-22 15:48] nathancahill commented on #559
Very happy to see that @mattupstate and @jirikuncar worked something out to move forward with this repo. Thank you both for making it happen! 🎉

[2017-06-22 20:00] rabkins commented on #581
Hi,

I have this problem. When I try to register with same email I got `sqlalchemy.exc.IntegrityError`.
`FLASK_USER_IDENTITY_ATTRIBUTES` is set to `'emai'l` by default.

I extended RegisterForm and replaced email field with `EmailField` from `wtforms.fields.html5`

`email = EmailField('E-mail', validators=[email_required, email_validator])`

I used `email_required` and `email_validator` from `flas

[2017-06-22 20:41] kesara opened #662 "Email confirmation behavior"
At the moment confirmation token can be logs user in automatically.
I suggest this behavior should be, so this can be configured as required.

Other issue with the current confirmation tokens is they can be reused to login without using password as long as that token is not expired.

[2017-06-23 06:25] jirikuncar commented on #661
@achanda have you tried to define `user_datastore` as `user_datastore = sender.extensions['flask-security'].datastore`? I see the problem in accessing user and roles after commit without refreshing their state. I don't know how to solve the problem in generic way for all supported datastores, but in this case I would try also http://docs.sqlalchemy.org/en/latest/orm/session_state_management.html#e

[2017-06-23 06:27] jirikuncar commented on #472
Can you create an alias property `id` for it, since Flask-Security expects this property to exists?

[2017-06-23 06:35] jirikuncar commented on #581
@rabkins can you please give us more information (full stacktrace,  `pip freeze`)?

[2017-06-23 06:39] MartinMikita commented on #472
@jirikuncar Could you, please, read my post again and carefully? It is NOT expected property, but it is using SQL `.filter_by(id=value)`, this will not use alias property in the model! I have it, and it is not working, therefore I wrote it here.

This is the only code in the method `get_token_status()`, where it is used in this way...

[2017-06-23 06:55] jirikuncar commented on #662
@kesara thank you for reporting. We should make sure that any of the tokens (confirm, reset) is not reusable. The confirmation should fail if the user has been already confirmed.

The problematic parts with automatic login are:
- https://github.com/mattupstate/flask-security/blob/develop/flask_security/views.py#L232-L234
- https://github.com/mattupstate/flask-security/blob/develop/flask_security/v

[2017-06-23 07:04] jirikuncar commented on #472
@MartinMikita it would be easier if you provide the whole definition of your model.

Following example should work for you:

[code]

PS: I am trying to help you in my free time so be patient 😉

[2017-06-23 07:07] MartinMikita commented on #472
Sorry, I haven't heard of synonym from SQLAlchemy before. I was using python property as an alias.

[2017-06-23 08:44] rabkins commented on #581
### pip freeze
alembic==0.9.2
amqp==2.1.4
Babel==2.4.0
billiard==3.5.0.2
blinker==1.4
celery==4.0.2
click==6.7
dominate==2.3.1
Flask==0.12.2
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Principal==0.4.0
Flask-Redis==0.3.0
Flask-Script==2.0.5
Flask-Security==3.0.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
guni

[2017-06-23 08:49] kesara commented on #662
@jirikuncar I agree, it's better to logout if the `user != current_user`.
But I think it's better to make `login_user(user)` on unconfirmed accounts configurable with a configuration option like `SECURITY_CONFIRMABLE_AUTO_LOG`.
So for those who using that feature can keep using it with setting that option.

[2017-06-23 09:55] achanda commented on #661
@jirikuncar just tried that and it did not seem to work. Here is my code for reference https://gist.github.com/achanda/6b20434651fcfd1ed95ecbaf0b8f16bd

Here is everything I tried:
1. Creating a new session in `user_registered_sighandler` using `sessionmaker`
2. Getting a new reference to `user_datastore` in `user_registered_sighandler` using `sender.extensions['security'].datastore`. The key seem

[2017-06-23 10:26] jirikuncar commented on #662
@kesara I am just trying to understand the possible situations in combination with `_security.login_without_confirmation`. IMHO we should ask user at least once for the password after registration if the confirmation is required, but it should be probably configurable as you proposed. The option should be same also for the `reset_password` use-case.

WDYT about following option `SECURITY_AUTO_LOGI

[2017-06-23 10:45] kesara commented on #662
Did you meant to say `SECURITY_AUTO_LOGIN_AFTER_TOKEN = {'confirm', 'login'}` because user is supposed to enter a new password when they register? But `{'confirm', 'login'}` could be confusing.

Isn't `login_without_confirmation` only allow unconfirmed users to login? In that case I don't see this code change affecting that functionality.

I agree that it's better to ask for the password after con

[2017-06-23 12:17] mafrosis commented on #540
duplicate of #482

[2017-06-23 12:38] #540 closed

[2017-06-23 12:42] jirikuncar commented on #662
I would say that we remove the automatic login even if it less convenient for users.

` SECURITY_AUTO_LOGIN_AFTER_TOKEN = {'confirm', 'reset'}` - I really meant `reset` and not `login` (see https://github.com/mattupstate/flask-security/blob/develop/flask_security/views.py#L294)

[2017-06-23 12:46] mafrosis commented on #541
Does the `LOGIN_DISABLED` config var even exist now? I can only see one reference to this in `tests/conftest.py`.

[2017-06-23 13:33] mafrosis opened #663 "v3 making tests run slowly"
Hey @jirikuncar, thanks for all your recent work on Flask-Security.

I've been having a pretty weird time with the recent v3 release. Our tests now run about 10 times more slowly than before - and debugging suggests it's down to our calls to `/login` endpoint. I saw this in the changelog:

    Upgraded passlib, and removed bcrypt version restriction.

Also profiling suggests 98.9% of a test's time

[2017-06-23 14:36] paway commented on #464
I think the following code would solve the problem without pass `USER_IDENTITY_ATTRIBUTES`.
phone/email both are unique. let's find the email by the phone number and pass the correct email value to "flask-security".
[code]
after reading a lot your code. I think the email way is everywhere and solid. As there is `USER_IDENTITY_ATTRIBUTES` method, why not Give the user's freedom to choice.

[2017-06-23 14:41] mafrosis commented on #663
Setting `SECURITY_PASSWORD_HASH = 'plaintext'` reduces our test run time back down to close to the original number.

[2017-06-23 14:42] jonafato commented on #663
This is likely due to making [bcrypt the default hashing scheme](https://github.com/mattupstate/flask-security/issues/545), not upgrading passlib. This is by design; bcrypt is meant to be slow to prevent brute force password cracking. If you'd like to speed up your test suite, changing your `PASSWORD_HASH` setting (for your test environment only, don't do this in production) to something faster (e

[2017-06-23 14:43] paway commented on #482
https://github.com/mattupstate/flask-security/issues/464#issuecomment-310682516

[2017-06-23 14:45] mafrosis commented on #663
@jonafato our app is configured to use `pbkdf2_sha512`

[2017-06-23 14:59] jonafato commented on #663
`pbkdf2` is also a password hashing algorithm intended to be slow. Does changing this value to `plaintext` drastically reduce the time spent in that function? If not, something's likely going wrong under the hood and causing a lot of hashing when it shouldn't be. In either case, I'd be surprised if lifting a bcrypt version restriction was related to this, especially if you're not using bcrypt 😄.

[2017-06-23 15:14] mafrosis commented on #663
@jonafato Agreed on all counts. Thanks. I ought to learn my hash algorithms ;)

Switching to `plaintext` does indeed reduce test run time by 50%. It's still a lot slower than pre-v3 though.  One thing I don't understand is that the profiler still shows 96% of the time is spent inside `_crypt.crypt` (similar to before), even with `plaintext`.

http://svgur.com/i/22L.svg

[2017-06-23 15:24] mafrosis commented on #663
I got to the bottom of it eventually :) Thanks @jonafato

The following config variables were necessary:

    # override the flask-security config for fast password hashes
    flask_app.config['SECURITY_HASHING_SCHEMES'] = ['plaintext']
    flask_app.config['SECURITY_DEPRECATED_HASHING_SCHEMES'] = []

And the following also gives a minor and useful speed bump too:

    flask_app.config['SECURITY_P

[2017-06-23 15:24] #663 closed

[2017-06-25 08:06] rakeshmukundan commented on #161
I would like to pick this up. Anyone else have ideas?

[2017-06-25 08:07] rakeshmukundan commented on #348
I am looking to add "lock" support for a particular user account after N failed login. Anyone else is working on this? if else would love to do it

[2017-06-25 08:56] kesara opened #665 "Cookie capturing vulnerability"
The login out removes the session cookies, but if it's captured before removal, it can be used to access the service as authenticated user.

To recreate:
* Login
* Capture cookie through a browser plugin or a man in the middle proxy
* Logout
* Send a request with captured cookie
* Able to access service as an authenticated user

I found that with `SECURITY_TRACKABLE` enabled, `flask-login.login_fr

[2017-06-25 18:49] jirikuncar commented on #541
@mafrosis `LOGIN_DISABLED` still exists. See https://github.com/maxcountryman/flask-login/blob/d769a321fbf3476c0d32baa6beb1aedcdc6fbf50/flask_login/login_manager.py#L119

[2017-06-25 19:02] jirikuncar commented on #161
@rakeshmukundan feel free to pick this one up. I would start by custom login form which would count every invalid validation and constructor could add recaptcha field when needed.

[2017-06-25 19:07] jirikuncar commented on #348
@rakeshmukundan you can try to propose a PR. See my other comment with possible solution using custom login form https://github.com/mattupstate/flask-security/issues/161#issuecomment-310921347. You can also disable account from the form and send them a notification via email.

[2017-06-26 09:44] achanda commented on #661
@jirikuncar I found the problem (partially). I was creating the `db_session` object using `sqlalchemy` directly. In the code I posted earlier, I was creating another db object using `Flask-SQLAlchemy`. If I try to pass `db_session` directly to `SQLAlchemyUserDatastore`, I get this error
[code]
Any suggestions how can I make this work without using `Flask-SQLAlchemy`?

[2017-06-26 14:37] achanda commented on #661
I could migrate my app to Flask-SQLAlchemy and this works fine now.

[2017-06-26 14:37] #661 closed

[2017-06-26 18:43] patrickyan opened #666 "Update website"
https://pythonhosted.org/Flask-Security/ still thinks the latest is 1.7.5

[2017-06-26 18:48] patrickyan commented on #583
Seems like a huge oversight that there's no way to invalidate sessions. If a user logs onto a public computer and forgets to log out, there's literally no way to kill the session. Resetting the password at the very least should kill it, and there should be a function  that lets us kill the sessions.

[2017-06-27 08:31] jirikuncar commented on #666
Pythonhosted is deprecated. Please use http://flask-security.readthedocs.io/en/latest/

[2017-06-27 08:32] #666 closed

[2017-06-27 15:03] patrickyan commented on #666
That's even older. It think the latest is 1.7.4...

[2017-06-27 18:47] drcrook1 opened #667 "Flask Mongo Engine Creating User"
The backend is Azure's Cosmos DB using the Mongo API.  Not 100% sure if this is a Cosmos DB issue or a Flask Security Issue.

Flask-Security version==1.7.5

ERROR:
mongoengine.errors.FieldDoesNotExist
mongoengine.errors.FieldDoesNotExist: The fields "{'_t', 'errmsg', '$err', 'ok', 'code'}" do not exist on the document "User"

Traceback (most recent call last)
File "/usr/local/lib/python3.5/dist-pa

[2017-06-28 09:48] achanda opened #668 "There should be a built-in endpoint for renewing tokens"
Renewing tokens is a common use-case. So, there should be a built-in endpoint to renew tokens based on basic HTTP auth. The workflow being:
[code]

[2017-06-29 06:55] snachx commented on #666
+1
Latest version on pythonhosted is 1.7.5
Latest version on readthedocs is 1.7.4

[2017-06-29 08:21] jirikuncar commented on #583
@patrickyan you would need server side sessions to invalidate sessions remotely (please see [Flask-KVSession](http://pythonhosted.org/Flask-KVSession/) extension).

[2017-06-29 08:28] jirikuncar commented on #667
Can you check if you get the same error with `Flask-Security==3.0.0`?

Out of curiosity can you tell me what is in variable `query` in:
[code]

[2017-06-29 12:49] jirikuncar commented on #666
@patrickyan @snachx I see that there were some issues with building the latest docs on Read the Docs. I have manually updated the pythonhosted.org, however please note that once we fix the Read the Docs, the https://pythonhosted.org/Flask-Security/ site might disappear.

[2017-06-29 15:55] nfvs opened #670 "_get_unauthorized_view() results in a redirect loop if the referrer is the page we just came from"
`_get_unauthorized_view()` is blindly redirecting to the location in referrer; if we just came from there, this will result in a redirect loop.

[2017-06-29 22:08] macfire opened #672 "flask_security.cli"
Could anyone please share an example of using the click commands in terminal?
Thanks.

[2017-06-30 07:29] mafrosis commented on #672
View the help for the `users` command:

    Starting tsa_postgres_1 ... done
    Usage: flask users [OPTIONS] COMMAND [ARGS]...

      User commands.

    Options:
      --help  Show this message and exit.

    Commands:
      activate    Activate a user.
      create      Create a user.
      deactivate  Deactivate a user.

View the help for the `users create` command:

    Usage: flask users cre

[2017-06-30 14:19] macfire commented on #672
Thanks, @mafrosis

I was accessing my own commands by using setup.py, but was confused why I couldn't access cli commands in installed packages (in this case, Flask-Security).

Then, finally realized I needed to create a method for flask to find the app because my app uses factory pattern
[code]
Then in terminal:
[code]

So, now your examples works:
[code]

However, I ran into another issue when t

[2017-06-30 15:20] jirikuncar commented on #672
@macfire can you please check that you have provided correct application to Click. There is a really good tutorial on Flask website http://flask.pocoo.org/docs/0.12/cli/ about CLI and factory pattern.

Hence, you should try with:

[code]

[2017-06-30 16:06] macfire commented on #672
@jirikuncar , yes, the correct app is being passed to Click.

I am able to use the create roles command successfully:
[code]
When running the create user command, it is looking like the error `RuntimeError: Working outside of request context.`  may be happening with call to `form=_security.confirm_register_form()`.

[code]

[2017-07-01 18:54] macfire commented on #672
I've narrowed down the issue.

The error `RuntimeError: Working outside of request context.` occurs because of the call  `request.args.get('next','')` command in `RegisterForm()`

[code]

If I comment out the test for `self.next.data`, I can successfully register a user via CLI.

QUESTION:  How can the flask_security.cli command `def users_create` be modified to use the Flask `request_context` (or

[2017-07-01 19:39] macfire commented on #415
@ekw, thanks.

Example:
[code]

[2017-07-01 19:39] #415 closed

[2017-07-02 00:55] miniCruzer opened #673 "Unambiguous non-existent user/invalid password messages via JSON."
In addition to #357, Flask-Security gives attackers hints to whether the username or password is invalid. Even if you change `SECURITY_MSG_USER_DOES_NOT_EXIST` and `SECURITY_MSG_INVALID_PASSWORD` to use ambiguous wording, talking to the login view via JSON (for example) will still give hints whether the email or password is incorrect.

For an invalid password, the response looks like:
[code]

And

[2017-07-03 07:18] jirikuncar commented on #672
@macfire thanks! This indeed looks like a problem in the form. We should add `has_request_context()` test before accessing `request` proxy. Moreover it looks like the tests are creating test request context so this issue has not been caught.

[2017-07-03 07:32] jirikuncar commented on #673
@miniCruzer we should change the field validators to form validators.

[2017-07-04 22:09] kootenpv opened #674 "session does not get invalidated correctly"
Code idea:

[code]
In the static file there is a link to `/logout`. When I click on it, it does correctly redirect me to login.

But I can now trick the system: manually going to `/reader` does not show me as logged out.

[2017-07-05 07:26] #670 closed

[2017-07-12 01:50] Cabalist opened #677 "_get_unauthorized_view calls url_for twice"
I was having some trouble getting the SECURITY_UNAUTHORIZED_VIEW setting working.  It appears the decorator is translating the view method twice.

[code]

Given SECURITY_UNAUTHORIZED_VIEW="user.login"  the first line translate this to "login/" then in the try/except `url_for` is called again and "login/" generates a `BuildError`.  The code will always end with `view` being None if it is not callab

[2017-07-14 09:22] amuzeev opened #678 "AttributeError: 'NoneType' object has no attribute 'password'"
1.7.5 and 3.0.0
flask_security/recoverable.py:77
`if user.password:`
I get **user** as None because of this:
flask_security/utils.py:428
`
    if data:
        user = _datastore.find_user(id=data[0])
`
**_datastore** can't get user by id because user isn't exist.

[2017-07-17 14:24] amuzeev opened #680 "LoginForm. Striping data"
flask_security/forms.py:230
[code]
I replace it to
`self.user = _datastore.get_user(self.email.data.**strip()**)`

[2017-07-18 10:21] rossgray opened #681 "Error when request is JSON but a list rather than an object"
Hi,

We are hitting an issue when upgrading to version 3.0.0 with the following line of code:
https://github.com/mattupstate/flask-security/blob/develop/flask_security/core.py#L231

Our application responds to JSON-RPC requests and it is perfectly acceptable to send batch requests, in which case the JSON request is actually an array of requests. This means `request.get_json()` returns a list rathe

[2017-07-19 16:00] Morabaraba commented on #681
I hacked it with.

[code]

Wanted to create a issue last week but life.

How did you fix it?

[2017-07-19 19:36] #681 closed

[2017-07-19 22:47] d13g0 commented on #472
@jirikuncar they synonym actually worked for me. Thank you!

[2017-07-23 06:29] tim-hub opened #684 ""Unauthorized" When I send my token to server"
flask + flask security + uwsgi + nginx
On vuejs frontend, they give me this:
[code]

I am sure all is good when I run the server locally. The authorization is running well. But not on remote server. **Every post/get with token required** return me the **unauthorized error.**

Anyone know the reason? I got know ideas? Should I consider some config of **nginx or uwsgi**

[2017-07-24 11:24] #506 closed

[2017-07-25 12:16] Morabaraba commented on #681
Hi @rossgray

Regarding your side note. You can change the `login_manager.request_loader` as seen below.

[code]

Hope it helps,

[2017-07-26 14:50] williamcheng-web opened #685 "email sender"
if set `MAIL_DEFAULT_SENDER` not set `SECURITY_EMAIL_SENDER`, email can't be sent.
In utils.py `send_mail` function:

    msg = Message(subject,
                  sender=_security.email_sender,
                  recipients=[recipient])`,
`sender` is a `LocalProxy` instance. So, `mail.send(msg)`  will happen `ValueError: too many values to unpack`. Because in flask-mail `sanitize_address` function:

[2017-08-03 09:42] acnebs commented on #415
This doesn't address the difficulty in then adding this form to your register view, as I don't know of a way to do it.

You need to pass ExtendedRegisterForm as the user_register_form to the template, but that is not accessible, so really you need to create your own register view, but then you have two register views, one of which is "unsecured".

[2017-08-03 13:08] louden opened #687 "Add HTML support to flashed messages"
One use case I have is to have a link in the flashed messages when the user does not have the appropriate role.  To allow this, you have to enable HTML support when the message is flashed.

This can be done by adding the following to utils.py

    from flask import Markup
    # in do_flash
    flash(Markup(message), category)

This is something that should be turned on/off by a configuration.

[2017-08-04 05:55] arlejeun opened #688 "How to POST request when endpoint is protected by the decorator @auth_token_required"
I have read a lot of documentation about it and I've found a [good tutorial ](http://mandarvaze.github.io/2015/01/token-auth-with-flask-security.html) to explain how to GET resource from @auth_token_required and it worked just fine but I have't been able to POST a request with data.

[code]
The view is working just fine if i remove the decoratior @auth_token_required or when I replace it with @htt

[2017-08-04 06:06] #688 closed

[2017-08-04 06:07] arlejeun commented on #688
My mistake was to have two routes configured. Please ignore my request. Sorry

[code]

[2017-08-05 10:31] johncarmack1984 commented on #685
I'm in the same place you were when you wrote  this. Any ideas on a fix?

[2017-08-07 14:04] synthecypher opened #690 "Ability to set email template directory location"
Currently the extension hardcodes the location of the email template directory see here in this line.
https://github.com/mattupstate/flask-security/blob/15ee0749038c581fb40479aa5ebddce014619ad5/flask_security/utils.py#L390
It would be good if I change the path to the directory to something else in order to more easily reuse templates located in other directories.

[2017-08-14 12:13] ochronus opened #693 "Cannot send registration email"
When I configure the app to send registration emails, registration fails with:

ValueError: too many values to unpack

See https://github.com/mattupstate/flask-mail/issues/148

I traced back the error to this line:
https://github.com/mattupstate/flask-security/blob/develop/flask_security/utils.py#L387
the _security var is a LocalProxy

cc @filipmihal

[2017-08-14 14:01] jirikuncar commented on #693
@ochronus we should probably change it to `str(_security.email_sender)`.

[2017-08-14 16:11] rossgray commented on #681
Thank you @Morabaraba, that is very helpful. I will wait for the fix to be released before upgrading to version 3.x

[2017-08-17 12:57] filipmihal opened #698 "Question: Set default translation"
Hi,

I was wondering if there is any option to set default translation. I've created my own translation and I want  set is as default.

Thank you

[2017-08-19 12:50] steelliberty opened #699 "Does anyone have an example using Pony as the Datastore ?"
For example what is the import ... something like import Flask_pony

[2017-08-19 12:54] alemangui opened #700 "Anchor links in website are not working"
Some anchor links in the website are not functional.

For example in the [Quickstart](http://flask-security.readthedocs.io/en/latest/quickstart.html) page, there are anchor links (e.g., _Basic MongoEngine Application_) which link to inexistent html ```id``` elements.

To continue with the example of the _Basic MongoEngine Application_ link, it references the id ```#basic-mongoengine-application```

[2017-08-19 19:37] karlloic commented on #156
@mattupstate Is there still no solution for this? What do you suggest as an alternative?

[2017-08-22 19:54] andreibancioiu commented on #236
The feature mentioned by @Trii is documented here: https://flask-security.readthedocs.io/en/latest/customizing.html#emails.

[2017-08-26 08:41] argolo opened #701 "I would like to add support for pt_BR as a language."
I would like to add support for pt_BR as a language. How can I do this? I volunteer to translate.

[2017-08-28 03:43] fake-name opened #702 "Whoops, wrong tracker. I'm a derp."
[deleted]

[2017-08-28 03:46] #702 closed

[2017-08-30 11:16] Chamaeleon- commented on #685
A quick and short fix:
https://github.com/mattupstate/flask-security/pull/695

[2017-08-30 13:55] briancappello commented on #684
@tim-hub
Are you sure your Flask session is working correctly? Check especially if your `SECRET_KEY` is set and that cookies are configured and working properly (even if you're storing your session server-side instead of the default in-cookies, cookies are still necessary). Culprits include `SESSION_COOKIE_PATH`, `SESSION_COOKIE_SECURE`, and `SESSION_COOKIE_DOMAIN`. Also make sure you're sending t

[2017-08-30 14:22] briancappello opened #704 "Switch error handling to not depend on hard-coded private functions?"
Currently, it's possible to configure a custom `unauthorized_handler` function. But I don't think this is really sufficient, because the same function is used in multiple (differing) situations:

`@auth_required()` and `@auth_token_required`:
When these fail, they should return HTTP 401 (aka "I don't know who you are, please log in first and try again")

`@roles_required()` and `@roles_accepted()`

[2017-08-30 20:41] andreibancioiu commented on #218
Workaround:

[code]

Then in the header (logout button):
[code]

[2017-09-04 14:17] johnfrancisgit opened #705 "Document how to change config"
The configuration options are documented, however how to go about changing them in your application is missing.

[2017-09-04 14:21] johnfrancisgit commented on #705
Ah, it just uses the flask config.

[2017-09-04 14:21] #705 closed

[2017-09-06 08:44] spirosoik commented on #667
@jirikuncar the query has `email_iexact` which seems that doesn't work not even for login.

[2017-09-16 09:17] Tumetsu commented on #685
Having the same problem. Would be nice to get this merged.

[2017-09-17 10:48] vladfr commented on #341
@rdegges @mattupstate Hey guys! I'm interested in taking this over. Did anyone submit anything on Dynamo support?

[2017-09-23 13:10] rakeshmukundan commented on #161
Just picking this up again. I did make a custom form which can do this. However I feel better option is to keep this functionality outside of flask-security and provide a incorrect password entered signal ? So then the application logic can decide what to do.

[2017-09-28 03:54] dinorox commented on #701
hey man, I've just did it. look at #713.

[2017-09-28 22:48] argolo commented on #701
Thanks man. I'll close the issue then.

[2017-09-28 22:48] #701 closed

[2017-10-03 19:28] rdegges commented on #341
I did not. I had other distractions and totally forgot about this :(

[2017-10-04 13:55] bsamadi commented on #684
Is there a working example of how to send the token to the Flask server?

[2017-10-04 14:29] briancappello commented on #684
@bsamadi I've been working on a boilerplate that uses Flask-Security token (and session) auth, the code is here: https://github.com/briancappello/flask-react-spa

Files of interest:
- Sending the token to the backend (note the `Authentication-Token` and `X-CSRFToken` headers):
https://github.com/briancappello/flask-react-spa/blob/master/frontend/app/utils/request.js#L27

- Checking the token (note

[2017-10-06 09:09] dappiu opened #715 "Switch to Flask-Babel?"
I just want to check what others think about Flask-Babelex...

As of today the two are not API-compatible anymore. Flask-Babelex development seem stuck and Flask-Babel in the recent days got some interesting updates (for example a wrapper for speaklater._LazyString that permits lazy strings to be serialized by Flask's JSON encoder).

I thought I could use Flask-Babel and Flask-Babelex in the same

[2017-10-06 10:50] #693 closed

[2017-10-06 10:51] #357 closed

[2017-10-06 11:54] jirikuncar commented on #341
@vladfr feel free to submit a PR.

[2017-10-06 14:09] jirikuncar commented on #687
We have to be careful not to introduce potential space for XSS attack. We can discuss on case by case where we want to allow HTML output from flask messages.

[2017-10-06 14:22] #685 closed

[2017-10-06 14:44] jirikuncar commented on #690
@synthecypher feel free to propose a PR with new configuration option.

[2017-10-06 14:46] jirikuncar commented on #704
@briancappello it sounds reasonable. Can you please send a PR?

[2017-10-06 14:48] jirikuncar commented on #700
@alemangui there is probably something wrong in https://github.com/mattupstate/flask-security/blob/develop/docs/quickstart.rst. Would you have a bit of time to investigate?

[2017-10-06 14:52] jirikuncar commented on #698
Unfortunately, the path for translations is hardcoded in https://github.com/mattupstate/flask-security/blob/develop/flask_security/core.py#L304-L305. You can submit a PR that makes it a bit more flexible.

[2017-10-06 15:03] jirikuncar commented on #667
@spirosoik that is strange. It means that the tests are not checking everything on MongoDB. Would you have a time to submit a PR?

[2017-10-09 09:20] #662 closed

[2017-10-10 15:22] vladfr commented on #341
@jirikuncar I looked into this. The problem is that flask_security wants to use an ORM, and flask-dynamo is more of a wrapper - it doesn't put entries from dynamo into object properties. Which means more work would be needed, either in flask-dynamo, or use some other orm/adapter for Dynamo.

Right now, that's a bigger ask than I have time for. Anyone up for pairing on this, ping me.

[2017-10-12 18:35] rudr4x5h commented on #474
@erwinyusrizal Thanks a lot, solved the issue for me!

[2017-10-21 10:04] velerodro opened #718 "RecursionError: maximum recursion depth exceeded in comparison"
Hello,

The way I create the flask app is the following. I have:
[code]

Where `manage.py` contains:
[code]

And `__init__.py` contains:
[code]

With this configuration, whenever I try to visit `/register` I get:
`RecursionError: maximum recursion depth exceeded in comparison`
(I put the traceback at the end)

I am using python 3.6. I used to use this same approach in the past with python2.7 and f

[2017-10-21 18:40] velerodro commented on #718
I tracked it down to this commit: https://github.com/mattupstate/flask-security/commit/c027cea33af1df567233eaa83967791cae8e7350

Until that one it works fine. When I update to that commit, then I start getting the error above.

[2017-10-21 18:49] velerodro commented on #718
Apparently, related to #715 , the issue was being caused because I use flask-babel in the project. I removed flask-babel and now it is working.

[2017-10-21 18:49] #718 closed, assigned to nobody

[2017-10-22 14:09] velerodro opened #720 "Different registration and login forms for different roles"
Hello,

I'd like to make different forms for different roles. They share the basic fields, but then each role must have extra fields. Also they have different behaviour, for example one of the roles require manual activation by us.

I know I could import the forms, then extend them, and then create custom views/routes for this forms. In these views I can use e.g. `from flask_security.registerable

[2017-10-24 13:14] #678 closed

[2017-10-24 13:16] #700 closed

[2017-10-24 13:20] jirikuncar commented on #720
@velerodro it is perfectly fine to create new routes for custom registration.

[2017-10-25 16:26] nalzok opened #724 "`SECURITY_UNAUTHORIZED_VIEW` doesn't default to `None`"
Hi there!

The document says [`SECURITY_UNAUTHORIZED_VIEW` defaults to `None`](https://pythonhosted.org/Flask-Security/configuration.html#urls-and-views), but actually it's default to [`lambda: None`](https://github.com/mattupstate/flask-security/blob/53c6547aff05f67712ff0bf2b388bbd62718000b/flask_security/core.py#L75).

[code]

Since `lambda: None` is interpreted as true, by default `_get_unautho

[2017-10-26 09:06] jirikuncar commented on #724
@sunqingyao thank you reporting. Indeed it looks like an inconsistency between docs and code. Do you prefer the default to `abort(403)` or `redirect` to referrer or `/`?

[2017-10-26 13:45] nalzok commented on #724
Personally I prefer a simple `abort(403)`, because

1. URLs to protected views shouldn’t be presented to users without certain roles at the first place, so under normal circumstances, a user won’t get a 403 error.
2. Redirecting without a proper message can be confusing, whereas 403 always means Unauthorized.
3. This makes testing easier: just assert `resp.status_code` to be 403.

[2017-10-26 20:30] Ben095 opened #725 "Passing multiple forms within Register Form?"
How can I pass login form within my register_user.html? I am trying to create both login/register at same page. I tried passing in login_user_form, it didn't work and it makes perfect sense as to why it wouldn't work. Does flask-security provide us a way to pass in default forms we want rather than extendedForm which gets inherited from RegisterForm...? Or to have both of these functionality on sa

[2017-10-26 20:33] Ben095 commented on #725
This was my attempt:
class ExtendedConfirmRegisterForm(RegisterForm):
    first_name = StringField('First Name')
    last_name = StringField('Last Name')
    type_s = StringField()
    club_access_type = StringField()
    monthly_plan = StringField()
    start_time = StringField()
    end_time = StringField()
    where = StringField()
    subscription_type=StringField()
    booking_id = StringFiel

[2017-10-27 06:11] jirikuncar commented on #724
Let's change the `lambda: None` to `None` then.

[2017-10-27 06:19] jirikuncar commented on #725
Forget me if I misunderstood your question. I think you can set `SECURITY_LOGIN_WITHOUT_CONFIRMATION=True` to automatically login a user after registration. Additionally you can still ask user to confirm his registration via email for next login with `SECURITY_CONFIRMABLE=True`.

[2017-10-27 08:00] Ben095 commented on #725
Hey no. That's not what I am asking. Basically I am trying to have both login and register in same page. So I wanted to use login form within register form. So I can have seperate email pass fields for each login and registering.

[2017-10-27 09:12] jirikuncar commented on #725
Then I would recommend to create your own view and template.

[2017-10-27 09:24] nalzok commented on #724
Great! :smiles:

[2017-10-30 02:43] Ben095 commented on #725
So there is no way for me to use multiple forms within register view in flask-security? Or so login form within register view?

[2017-10-30 03:18] Ben095 commented on #725
Figured out. Found a way to pass in; peeked inside the repository and realized; you could pass default argument in register view through

[code]

That let me call `login_user_form` within register user template!

[2017-10-30 03:44] Ben095 opened #728 "FLASH_MESSAGES configuration does not seem to be working."
I am trying to disable flash messages in general; using the following
FLASH_MESSAGES = False

When I try an login with invalid credentails it still displays the flash message. Why is that? How do I turn it off.

[2017-10-30 03:52] jonafato commented on #728
Flask-Security configuration values are prefixed with `SECURITY_` ([docs](https://flask-security.readthedocs.io/en/latest/configuration.html)). If you set this config option, does it behave as you expect?

[2017-10-30 03:52] Ben095 commented on #728
It does not.
SECURITY_FLASH_MESSAGES = False

[2017-10-30 03:54] jonafato commented on #728
How are you setting the option, and which messages are still showing? i.e. do all messages still show, or is it a subset of messages?

[2017-10-30 03:57] Ben095 commented on #728
Basically; the login error messages gets displayed; forsay if I try an forget to put password; it throws me flash message saying I did not put password.
I want to disable that and the flashed message for login errors. Because of flashed message my original register css/div gets all messed up if there is a error. So I want to disable that all together.

[2017-10-30 03:58] jonafato commented on #728
Can you provide a minimal application that demonstrates the issue?

[2017-10-30 03:59] Ben095 commented on #728
Yes, I could. Give me one second.

[2017-10-30 04:01] Ben095 commented on #728
class Config(object):
    SECURITY_FLASH_MESSAGES = None

My register_user.html looks like this.

<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form_1">
                                                      {{ register_user_form_1.hidden_tag() }}

                                                 <div class="header_info" style="position:relative; margin-right:-

[2017-10-30 04:02] Ben095 commented on #728
I am assuming the reason why my div gets pushed out of the way is because of the flashed messages.

[2017-10-30 04:14] jonafato commented on #728
Are you sure this is due to flash messages and not the [form errors](https://github.com/mattupstate/flask-security/blob/d76198d078af3cba559085f4bba8fbdcbb96c2e0/flask_security/templates/security/_macros.html#L4-L10) rendered by the `render_field` function? It's tough to tell exactly what's being rendered onto the page with images rather than the rendered HTML, but I suspect that may be related.

[2017-10-30 04:18] Ben095 commented on #728
I'm not sure. I tried

{% macro render_field(field) %}
    <div   class="field">{{ field(**kwargs)|safe }}</div>
     {% if field.errors %}

            <ul style="display:none">
                {% for error in field.errors %}

                {% endfor %}
            </ul>
        {% endif %}

{% endmacro %}

So that CSS gets hidden; it still messes up my register field... wierdly

[2017-10-30 04:29] jonafato commented on #728
Are the flashed messages appearing in the HTML, though? i.e. is [this snippet](https://github.com/mattupstate/flask-security/blob/d76198d078af3cba559085f4bba8fbdcbb96c2e0/flask_security/templates/security/_messages.html#L3-L7) in your page's rendered HTML source?

[2017-10-30 04:33] Ben095 commented on #728
It's actually not being flashed.... just realized that. What could be causing my designs to be messed up. Also I do set some form value in the backend.
After they submit; they're passing form data like this.

[code]

[2017-10-30 04:40] jonafato commented on #728
If the flash message is not being displayed, this setting is behaving as intended. For general questions like "what's wrong with this styling?" that are not about bugs or features in Flask-Security, Stack Overflow is probably a better forum.

[2017-10-30 04:41] Ben095 commented on #728
So this has to do with my styling more over than flask-security..?

[2017-10-30 04:41] Ben095 commented on #728
How come flask security SECURITY_FLASH_MESSAGES=False does not work though?  Just in case if I were to use it in future. Because when I do that; login error still shows up.

[2017-10-30 04:42] Ben095 commented on #728
Also. Why arent my flash messages being displayed in register view?

[2017-10-30 04:45] jonafato commented on #728
I don't follow. The setting is `False`, and the messages don't show up. Form errors are not the same as flash messages. If you have a fully working minimal example app that can demonstrate this issue, it's likely a bug. Otherwise, it sounds like this is a styling issue rather than a Flask-Security one.

[2017-10-30 05:03] Ben095 commented on #728
Okay perhaps, I'm not explaining it right.

So basically straight-forward question. I wanted to turn off flash messages; according to flask-security it says it can be done using SECURITY_FLASH_MESSAGES=False; I did that and then the flash messages still gets showed up at my login view. How can I completely turn off flash messages? This seems like a bug as the feature isn't working as expected beca

[2017-10-30 18:36] ksdmitrieva commented on #135
Agree with teloon. The name is missleading, because if the passlib is already generating the salt per user, why do we even need a static salt for the whole application?
If it is a key to HMAC for the whole application, then it serves a different purpose. If the database is stolen (with the salts), then an attacker won't be able to crack a specific password (targeted attack), because there's the ap

[2017-10-30 19:25] jonafato commented on #728
I can't reproduce this issue. I took the used the app from the [quickstart](https://flask-security.readthedocs.io/en/latest/quickstart.html) with the following additional settings:

[code]

When I create an account at `/register`, I get redirected to the login page with the flash message

When I change the `SECURITY_FLASH_MESSAGES` setting to `False`, the message is not shown.

---

Note that this

[2017-11-02 15:37] pvsune commented on #496
your PR hasn't been touched in a while. i'm looking into adding 2fa too in my app. would you have time to look at it a bit? would gladly help fill out missing parts if any.

[2017-11-06 10:21] podolskyi opened #729 "Add extra_headers to send_mail"
Add extra_headers param to function send_mail

flask_mail support external headers
extra_headers – A dictionary of additional headers for the message

[2017-11-06 10:47] #729 closed, assigned to nobody

[2017-11-07 11:54] KPilnacek opened #731 "Slow token authentication"
Hello guys,

at my current job, I happened to be a part of a backend team, which is creating an API.
The API should be then served to javascript application and needs to be quite fast (100 ms or so).
However, it is not.
After some profiling, we figured out that it is the token authentication in `Flask-security`, which is holding us back (pleas see the MWE).

### MWE

[code]

### Basic authenticati

[2017-11-07 12:26] jirikuncar commented on #731
I suspect the database. Can you check the issued queries (with `EXPLAIN`) to check if you have all necessary indexes?

[2017-11-07 13:25] KPilnacek commented on #731
I don't think that it is the database. It has only two tables with one record each. However, if I run profiler for the GET method with `auth_token` I get the following stats
[code]

The builtin method `crypt` eats all the time. And I don't believe it can access the database.

[2017-11-07 14:08] jirikuncar commented on #731
White testing your example in clean virtualenv, I have found following warning.
[code]

Can you check if you get it while importing `passlib.hash`?

[2017-11-07 14:13] mafrosis commented on #731
I can also confirm this issue. At my work we moved away from `Flask-Security` for our API microservices as this was a huge bottleneck.

See #663 which is the same problem, only exhibited by our test suite. Switching to `plaintext` for password hashing is not a good idea outside of tests :)

[2017-11-07 14:19] jirikuncar commented on #731
Can you also check the performance of the build-in function separately?
[code]
(`_crypt.__file__` is `[...]/lib/python3.6/lib-dynload/_crypt.cpython-36m-darwin.so`)

[2017-11-07 14:29] KPilnacek commented on #731
No warning and installing `scrypt` doesn't improve times.
[code]

[2017-11-07 14:41] KPilnacek commented on #731
[code]

And these are actual parameters for `crypt`...
[code]

[2017-11-07 14:50] mafrosis commented on #731
The hashing scheme used by default is intentionally slow - I believe the bug is that the hash is calculated on _every_ request, which it shouldn't be.

[2017-11-07 14:57] KPilnacek commented on #731
I believe the same.

[2017-11-14 17:37] danaki opened #732 "Password reset creates new user even if REGISTERABLE is False + wrong redirect"
[code]

Flask security is
[code]

pip freeze
[code]

To reproduce:
* Go to password reset URL: http://127.0.0.1:5000/admin/reset
* Enter any email you don't have in the database (I'm using mailcatcher)
* Follow the password reset link
* Use this email and new password to login

And another problem is that after password reset, user is redirected to /login which produces "Resource doesn't exist." i

[2017-11-14 17:49] danaki commented on #732
I downgraded to 1.7, second problem disappeared. I understand that SECURITY_REGISTERABLE disables the endpoint, but how do I disable signup completely? In my project only admin is allowed to create users.

[2017-11-16 02:39] fernandocamargoai commented on #693
@jirikuncar when will be the next release with this issue fixed? And is there any workaround?

[2017-11-20 14:32] caalle commented on #731
@KPilnacek did you manage to work around this in any way? I'm having the same issue.

[2017-11-21 09:23] hardy4yooz commented on #731
SECURITY_HASHING_SCHEMES  default to  sha256_crypt
options are:
[code]
such as:
[code]

[2017-11-28 12:43] harshal-dhumal opened #733 "Currently there is no way to handle exception occurred during changing or resetting password."
Also one can also say there is no way to pass custom view function to change or reset password so that
any exceptions occurred can be handled.

I my case I have set SECURITY_SEND_PASSWORD_CHANGE_EMAIL and SECURITY_SEND_PASSWORD_RESET_EMAIL to True. However if SMTP is not configured then
then changing or resetting password fails very badly in debug mode. (see below exception)
And in case of product

[2017-12-05 14:39] df7cb commented on #715
I'm co-maintaining the Debian package of flask-security (yet to be uploaded), and babelex is causing headaches because of the issues mentioned by @dappiu. Also, the newly added dependency on speaklater is suboptimal, as we only recently got rid of the python-speaklater package in Debian because it is dead upstream. We (Debian) are sticking with flask-security 1.7.5 for now for these reasons.

[2017-12-06 08:23] jirikuncar commented on #715
@dappiu it should be possible to make the Flask-Babel and Flask-BabelEx interchangeable in Flask-Security. I would be happy to accept a PR.

[2017-12-07 00:44] velerodro opened #734 "error when sending registration email (too many values to unpack (expected 2))"
I am using the last version available with pip of flask-security and flask-mail.

When I try to register a patient I get:
[code]

However I get no errors when manually sending email:

[code]
Any hint will be very much appreciated!

[2017-12-07 20:40] velerodro commented on #734
This was due to not having set the SECURITY_EMAIL_SENDER config variable.

[2017-12-07 20:40] #734 closed, assigned to nobody

[2017-12-14 13:13] jplatte opened #735 "flask-security allows username enumeration"
Having separate error messages for a username / email not being registered and the password not matching is a bad idea: https://security.stackexchange.com/q/42872/46812

I couldn't find anything in the configuration or view customization docs that points to these error messages being customizable in any way.

[2017-12-14 13:39] jirikuncar commented on #735
duplicate of #476

[2017-12-14 13:39] #735 closed, assigned to nobody

[2017-12-15 09:00] aarti-b commented on #718
please add:
import sys
sys.setrecursionlimit(some_number)
you will be done!

[2017-12-18 15:51] alison-f-cooper commented on #731
Having the same problem. We also have an SLA of 100 ms, and are running into the exact same issue -- around 2.4 seconds for a request, with most of that coming from crypt.

[2017-12-22 08:00] ProstoMaxim opened #736 "Setting exception code for required roles"
I've setup my resource with roles_required('my_role'). But how can I set status code? I want 403 obviously, but instead I recieve 302 -> 404.

[2017-12-22 12:30] #736 closed, assigned to nobody

[2017-12-22 14:13] lucilecoutouly opened #737 "@login_required behind https proxy"
Hello ,
I am triyng to use the
[code]

but the redirection sent is
[code]
i want it to be https ...

any help ...

[2017-12-22 15:33] jonafato commented on #737
There's not a lot of info here do debug with, but this is likely due to some missing configuration. Have you seen Flask's [proxy setups documentation](http://flask.pocoo.org/docs/0.12/deploying/wsgi-standalone/#proxy-setups)? In particular, the `ProxyFix` line below is necessary for Flask to pick up the original header values from the proxy server.

[code]

[2017-12-23 09:24] leonprou commented on #693
I think this is solved my issue. Too bad it's not in master branch, do you have a plans to release a new tag soon? Now I use a develop version of the branch and not so happy about it.

[2017-12-23 18:54] rnd0101 commented on #715
Same concern here. I guess, Flask-BabelEx is needed for i18n to work correctly as Flask-Babel currently has just one translation domain.

[2017-12-26 18:34] guoxingx commented on #677
sad. its been 5 months and I still got the same issue setting SECURITY_UNAUTHORIZED_VIEW to my own login view. I expect you are right. did you have some tests further?

[2017-12-28 11:19] lormayna opened #738 "Error sending email"
Hi, I'm trying to use flask-security to authenticate users.
Everything seems working fine except the email sending.
This is the traceback of the error:

`Traceback (most recent call last):
  File "/home/lorenzo/project/security/lib/python3.5/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "/home/lorenzo/project/security/lib/python3.5/sit

[2017-12-31 07:05] pyxze commented on #738
Try running this command:

`pip install --upgrade git+
https://github.com/mattupstate/flask-security.git@develop`

You can read the details here:

https://github.com/mattupstate/flask-security/pull/695#issuecomment-338435733

[2017-12-31 07:26] lormayna commented on #738
I tried it and it seems solve the problem.
When this will be pushed on the stable branch?

Il 31 dic 2017 8:05 AM, "pyxze" <notifications@github.com> ha scritto:

[2018-01-01 03:17] BillSchumacher opened #740 "Slowness"
All Flask-Security related functions take ~20-30 seconds to complete. It did not use to be so slow. I thought maybe it was the emails but I moved those to a celery task, the slowness persists. I implemented other logic that uses email and it is instant.

Not sure why but this library has a huge delay for some reason.

[2018-01-01 05:56] BillSchumacher commented on #740
I decided to implement the logic for user login using the same forms, db lookup and password verification.

Surprisingly the form validation and password hashing both take ~10 seconds.

('before validation', '2017-12-31 23:52:13.046964')
('after validation', '2017-12-31 23:52:22.855227')
('user lookup', '2017-12-31 23:52:22.855389')
('after user lookup', '2017-12-31 23:52:22.870330')
('password ha

[2018-01-01 06:05] mafrosis commented on #740
https://github.com/mattupstate/flask-security/issues/731 ?

[2018-01-01 06:10] BillSchumacher commented on #740
I see that the hashing is done in the form validation, I'll have to take a look to see what else is happening to add ~20 seconds to the standard Flask-Security login. Even 9 seconds is too slow.

('before validation', '2018-01-01 00:07:56.931346')
('after validation', '2018-01-01 00:08:03.957584')
('after login', '2018-01-01 00:08:03.971493')

[2018-01-01 06:53] BillSchumacher commented on #740
So this is interesting, if I don't use the Flask-Security LoginForm and call verify_password like I was previously the issue is resolved? The same function call took 10 seconds previously.

('before validation', '2018-01-01 00:51:16.683555')
('after validation', '2018-01-01 00:51:16.684854')
('user lookup', '2018-01-01 00:51:16.684928')
('after user lookup', '2018-01-01 00:51:16.689784')
('passwor

[2018-01-01 07:00] BillSchumacher commented on #740
Not sure why but verify_password is slowed down significantly by running the forms verify_and_update_password prior to calling verify_password, verify_update_and_password is still ~10 seconds with the custom form.

[2018-01-01 07:05] BillSchumacher commented on #740
verify_and_update timings:

('verify_and_update initial', '2018-01-01 01:04:22.480948')
('verify_and_update after verify', '2018-01-01 01:04:22.481539')
('verify_and_update after needs_update', '2018-01-01 01:04:22.481660')
('verify_and_update after hash', '2018-01-01 01:04:31.147555')
('verify_and_update after put', '2018-01-01 01:04:31.149381')

[2018-01-01 07:18] BillSchumacher commented on #740
This chunk of code in hash_password is the culprit:

    return _pwd_context.hash(
        password,
        **config_value('PASSWORD_HASH_OPTIONS', default={}).get(
            _security.password_hash, {})
    )

I'm not sure what is even happening at this point, are we not hashing the current password during verification? What's the point of this? Why not just use the get_hmac and be done?

[2018-01-01 20:22] BillSchumacher commented on #740
After modifying my code to use entirely custom functions and Argon2, I had an idea. Why not offload token generation and update hashing to celery tasks as well?

[2018-01-01 20:25] BillSchumacher commented on #740
The verify function without update is very fast, it's the updates that take forever and for registration the confirmation token hashing makes the request take a very long time when we could just be generating that in the background.

[2018-01-02 22:04] pahrohfit commented on #731
Just a question -- you folks using Linux, on some kind of VM?  Install haveged, start it, try again.

[2018-01-03 08:15] KPilnacek commented on #731
@caalle at first, sorry for the delay.
Well, we bypassed `flask-security` as we did not find any way to improve the speed. This was done by my colleague, so I can only provide some insights from what I see in the code.

He added a custom loader to `flask-security.login_manager`
[code]

In the function `check_user_auth_token`, he implemented token deserialization via `itsdangerous.URLSafeTimedSeria

[2018-01-04 10:46] jplatte commented on #470
Why is this done though? A quick lookup of "double salting" turns up [this SO question](https://stackoverflow.com/q/2065558) with only one answer implying that it is basically useless.

[2018-01-05 09:17] caalle commented on #731
@KPilnacek thank you for providing more info. Too bad you had to switch.

I'll give it some more testing before making a switch to something more lightweight.

[2018-01-05 10:58] jirikuncar commented on #693
I will try to add one in January.

[2018-01-07 14:22] Avamander opened #742 "Flask-Security doesn't set cookie security flags by default"
It would be really nice if Flask-Security nicely set Secure, HttpOnly and [SameSite](https://github.com/pallets/flask/issues/2030)(not fully supported yet) flags to it's cookies by default.

The flags can be indeed enabled manually by specifying but I think especially a security package should be secure by-default.
[code]

[2018-01-10 11:45] coutouly commented on #737
Thank you, it work's great .

[2018-01-10 15:39] #737 closed, assigned to nobody

[2018-01-15 11:18] mohd874 opened #744 "How to add new language to Flask-Security"
I will be quoting my [question](https://stackoverflow.com/questions/48248101/add-new-language-to-flask-security) on Stackoverflow. I've been stuck for weeks trying to solve this issue (and I am willing write proper documentation for the solution so others can keep their sanity).

I am trying to add the Arabic language to Flask-Security. Here is what I've done:

- Accessed the flask_security packag

[2018-01-22 07:31] luvkaggarwal opened #745 "flask-security with psycopg2"
Is there a way of using flask-security with psycopg2. I do not wish to use an ORM and sqlalchemy is slower as compared to psycopg2. However, in all the examples and documentations that I have gone through, I haven't found a way of using flask-security with psycopg2. Is it even possible?

[2018-01-22 08:24] jirikuncar commented on #745
@luvkaggarwal it is possible, but you need to implement your own [`Datastore`](https://github.com/mattupstate/flask-security/blob/develop/flask_security/datastore.py#L15).

[2018-01-22 16:39] Kurandur opened #746 "The hash_password function takes None as the password parameter"
Is it intended that the function `verify_password` takes None as an password argument?

[code]

[2018-01-25 13:14] jirikuncar commented on #746
Does it cause any problems? The user should not be able to set it to `None` if the form validation works well.

[2018-01-28 13:55] Kurandur commented on #746
I was just used to this behaviour from other libraries and a testcase failed. But you are right and an empty password shouldnt reach the function anyway-

[2018-01-28 13:55] #746 closed, assigned to nobody

[2018-01-30 17:31] italomaia commented on #742
Aren't these Flask specific configuration? It would probably be a good thing, security wise, to set them to True by default, but that could impact usability for newcomers (Flask wise). In the flask-security side of the force, what if a warning message was shown if these options are set to False? Something like:
"Hey pal, set SOMETHING settings to True for better security"

Not required, but a link

[2018-01-30 17:35] Avamander commented on #742
Warnings about setting to false (or not setting to true) would indeed be a good idea, mention in the documentation definitely doesn't hurt either.

[2018-01-30 17:40] Avamander commented on #476
This can be solved by overriding the error messages, adding a captcha and rate-limiting to pretty much all the account-related built-in pages, last two you should be doing anyways... I think this should be done by the developer, implementing captchas and rate limiting on Flask-Security's side sounds like feature creep.

[2018-01-30 17:42] italomaia commented on #715
Maybe patching flask-babel with the missing features than chaning flask-security dependency is the way to go. Longer road, but one hell of a view.

[2018-01-30 19:46] stoneroad opened #750 "Minor doc issue: wrong import mentioned"
flask-security/docs/quickstart.rst:
[code]
should be changed to
[code]

[2018-02-01 07:53] ibushong commented on #731
Came across this thread as I'm updating to Flask-Security v3.0.0 and came across this same issue.  Previously, I had already accounted for skipping the slowness caused by the hashing in the login process, but now it seems intense hashing is also done when generating and checking the auth token, which happens in the majority of my tests.

It seems like the "old" functionality can be restored via th

[2018-02-01 08:12] mafrosis commented on #731
See #663 @ibushong.

Problem is that the bcrypt hash is being calculated on every request- which it doesn't need to be. Bcrypt is slow by design.

[2018-02-01 08:34] ibushong commented on #731
(I'll preface this by saying by crypto knowledge is very basic, so anyone please correct me as needed)

@mafrosis
Well, to clarify, and as far as I can tell, there are 2 main places where this hashing is being done:

1. When hashing or checking a user's password
2. When generating or checking an authentication token

Case <span>#</span>2 is what was significantly slowed down in v3 (with default se

[2018-02-06 21:45] sdiepend opened #752 "After how long is the password reset token expired?"
Where can I find after how long the token in the password reset url expires?
Can I set it to expire after x time somewhere?

[2018-02-08 00:41] mgd722 commented on #333
For clarity's sake it should be noted that `SECURITY_UNAUTHORIZED_VIEW` must actually be set equal to `None` to get a 403 returned; leaving it undefined will return 200 with a flashed unauthorized message.

[2018-02-08 03:40] mgd722 commented on #731
This is a pretty big issue that is causing more than a few people to not use or switch away from flask-security :(

[2018-02-11 21:11] Avamander opened #754 "Flask-Security doesn't recover from error"
For some reason my webpage one day decided to take itself down for some reason, giving me these stacktraces:

[code]
Any ideas how to avoid situations like these in the future?

[2018-02-13 10:40] illume opened #755 "Login with github 2018?"
Is anyone using something to login with github and flask-security?
What people are using on a website in production to login with github?

I found a few options, but nothing seems maintained recently (maybe they don't really need changes?).
- https://github.com/mattupstate/flask-social
- https://github.com/wooyek/flask-social-blueprint
- https://github.com/authomatic/authomatic

Python social auth

[2018-02-16 09:16] illume commented on #742
SESSION_COOKIE_SAMESITE is now available in git flask. See https://github.com/pallets/flask/pull/2607/files However, flask hasn't had a release for about 8 months.

Warnings would be good... but also... Throw an error if they are false?

[2018-02-18 11:22] kyzima-spb opened #756 "PonyORM incorrect work"
1. I want to create a role, run the command:
`flask roles create -d "Администратор" admin`
I get an exception:
[code]
Experiments I found out that the problem is in the __hash__ method (RoleMixin .__ hash__). If it is removed, then the problem is in the __eq__ method, since now the entity is not hashed.

2. I added the role to the database manually. Now I can not add a role to the user from the co

[2018-02-19 02:52] gouyou opened #757 "Typo in documentation > Quick Start > Proxy Configuration"
In the documentation for Quick Start > [Proxy Configuration](https://pythonhosted.org/Flask-Security/quickstart.html#id8), the line:
[code]
Should be:
[code]

[2018-02-21 19:17] eliaperantoni opened #759 "RuntimeError: The configuration value `SECURITY_PASSWORD_SALT` must not be None when the value of `SECURITY_PASSWORD_HASH` is set to "bcrypt""
I've tried running the example script at https://pythonhosted.org/Flask-Security/quickstart.html#id1 but when I open the url I get this error

[code]

What am I doing wrong?
Is settings the security password hash config to `bcrypt.gensalt()` on startup a good idea?

[2018-02-27 04:26] chriscate opened #761 "Recover Password button does nothing"
I have made a few changes to allow users to log in with a username rather than an email address. That all works fine. I'm now setting up password reset functionality, and when I click the button to recover the password using the default template, nothing happens other than I see a POST request to the reset URL (the page I am already on) with a 200 response.  I don't get redirected anywhere and no

[2018-02-27 04:36] scraggelz commented on #761
Not sure if you made a typo but try:
`SECURITY_SEND_PASSWORD_RESET_EMAIL`

instead of
`SEND_PASSWORD_RESET_EMAIL`

[2018-02-27 04:43] chriscate commented on #761
@scraggelz thanks.  Oddly enough I had left `SECURITY` off (whoops!), but even after correcting that, still nothing.  Any direction as to what _should_ get called on the click of this button? That may help narrow it down too...

[2018-02-27 04:49] scraggelz commented on #761
I'm not sure exactly what's being called. I imagine it'd be trying to send an email to the email that a user signed up with. I'm not sure the difference between `SECURITY_SEND_PASSWORD_RESET_EMAIL` and `SECURITY_SEND_PASSWORD_RESET_NOTICE_EMAIL` but it might be worth it to give it a shot.

https://pythonhosted.org/Flask-Security/configuration.html#miscellaneous

[2018-02-27 05:07] biomap commented on #761
Notice is after it's reset ie.  "Your password has been reset at hostname if this is incorrect please notify an administrator."

[2018-02-27 05:11] biomap commented on #761
when you are customizing your forms make sure you are following this paradigm https://pythonhosted.org/Flask-Security/customizing.html

[2018-02-27 05:32] biomap commented on #759
You need to set SECURITY_PASSWORD_SALT in your configuration settings as it indicates in the traceback.

[2018-02-27 05:35] biomap commented on #752
https://pythonhosted.org/Flask-Security/configuration.html

config value:   SECURITY_RESET_PASSWORD_WITHIN
default: 5 days

[2018-02-27 06:03] biomap commented on #732
This would be private registration (allowing only x role to register users) which the current project does not support.  I have this in my project but I am using a highly modified version of v1.7.  Its not that difficult to implement but at this time you would need to write the code yourself to allow only admins or w/e role to be able to do this.  Setting SECURITY_REGISTERABLE = False should disab

[2018-02-27 06:31] biomap commented on #731
Just making a suggestion here and it seems to only be affecting API/token logins from what I am seeing from this and other threads.  If this is incorrect please advise.    With that assumption could a potential solution be to use a sort of session token once authentication is done.  This way it then doesn't have to utilize bcrypt or one of the more robust crypto protocols so that once a user is au

[2018-02-27 07:57] sdiepend commented on #752
@biomap Thanks, didn't see that. But where is it used/loaded?
https://github.com/mattupstate/flask-security/search?utf8=%E2%9C%93&q=SECURITY_RESET_PASSWORD_WITHIN&type=
Only shows results in the docs.

[2018-02-27 08:10] biomap commented on #752
the within config values are truncated but I believe its implemented here: https://github.com/mattupstate/flask-security/blob/develop/flask_security/recoverable.py#L74

[2018-02-27 08:21] biomap commented on #752
Yes when it checks the token status (all of them) then it hits get_max_age() https://github.com/mattupstate/flask-security/blob/develop/flask_security/utils.py#L418 and adds the _WITHIN tag to the end.  https://github.com/mattupstate/flask-security/blob/develop/flask_security/utils.py#L349

[2018-02-27 08:40] sdiepend commented on #752
Ok, I think I understand now and the SECURITY_ part is stripped too. I must say it wasn't easy for me.

[code]

Where serializer is an instance of URLSafeTimedSerializer which is imported from itsdangerous.

[code]

[2018-02-27 08:48] biomap commented on #752
Correct.  Idk why it strips it for some of the config lookups but not with others.  We could use a refactor of lots of the code base to make it more uniform.  There are lots and lots of small things like this throughout that look like they got shoved in over time esp in utilities, forms and views. Lower case vs uppercase, shortened vs not, stripped prefix vs. not stripped.  I have gone through mos

[2018-02-27 08:56] biomap commented on #752
On a side note that config value (token max age) could also be added to the form validators so that when you get an age error for your token it tells you more information about how old or what the max age is.  I think I added this into mine.

[2018-03-01 01:22] chriscate commented on #761
@biomap thanks - I did follow that paradigm so in my mind it should be working.

I must be missing something. If there's any info that would help uncover what's going on let me know.  In the meantime I'll triple check what I've done.  Thanks for the replies so far.

[2018-03-01 01:37] chriscate commented on #761
I should note that it's not that it does absolutely nothing when I click the button after entering a username.  Checking the browser console, it seems to generate a csrf token, but the screen doesn't change and no email is sent.

[2018-03-01 21:31] biomap commented on #761
So a couple of things to note.  Without more information on what you have done or your configuration I'm afraid there is not much else I or anyone can do besides take shots in the dark.  I would consider suggesting turning on debug and using a console that you can see exactly what is happening.

Secondly,  if you are logged in while you are trying this it will not work.  You can reset your passwor

[2018-03-02 01:55] chriscate commented on #761
EDIT: deleting and closing this issue.  I think it's caused because I use a username to login instead of an email.  It doesn't even seem to do any validation when I override the forgot_password_form and replace email with username.  I can put in any text I want.  If I leave it as email, it will tell me that the user doesn't exist, etc. (of course they all don't exist, because we use username not e

[2018-03-02 02:50] #761 closed, assigned to nobody

[2018-03-03 00:16] jeffoneill opened #763 "@anonymous_user_required for confirm views?"
Shouldn't the `send_confirmation` and `confirm_email` views have the `@anonymous_user_required` decorator?

If a user is authenticated, then it seems that they had to have previously confirmed.  Or am I misunderstanding something?

[2018-03-03 09:57] abhimskywalker commented on #681
Thank you @Morabaraba ! 👍
A slightly modified version of the mentioned snippet helped:
[code]
Just using `security.login_manager.anonymous_user()` threw my app into an infinite loop with`RecursionError` :/

[2018-03-03 20:25] biomap commented on #754
This appears to be a psycopg/SQL/postgres error which I assume you have setup using SSL from the traceback you provided  >> psycopg2.OperationalError: SSL connection has been closed unexpectedly.   You need to call db.rollback() once you fix it and get your database connection reconnected.

[2018-03-06 18:03] rivasd commented on #755
Give [Flask-Dance](https://github.com/singingwolfboy/flask-dance) a try!

[2018-03-06 18:56] rivasd opened #765 "Customizable login() view to allow attaching JWT token"
Hi!

I am trying to use [flask-jwt-extended](https://github.com/vimalloc/flask-jwt-extended) in conjuction with your awesome Flask-Security, which in in my opinion takes care of a lot of the boilerplate away from standard authentication.

However, use cases for both Flask-Login and Flask-jwt-extended depend on us writing our own login() view to allow users to log in given a username+password, givi

[2018-03-07 10:51] Avamander commented on #754
I encountered the error once again today. The thing is that the application is on the same server as my DB so I'm not sure why this connection dropping would even happen (idle timeout?), another thing is that my code isn't even executed when the error occurs, I can't detect and rollback it properly, Flask-Security should do so as it's its query that's failing.

[2018-03-07 12:46] illume commented on #755
Thanks @rivasd . I'll check it out!
Flask-Dance does have the best project name I've heard in a while, that's for sure :)

- github quickstart: http://flask-dance.readthedocs.io/en/latest/quickstarts/github.html
- SQLAlchemy/Flask-login example here: http://flask-dance.readthedocs.io/en/latest/quickstarts/sqla-multiuser.html
- This example uses flask_security: http://flask-dance.readthedocs.io/en/

[2018-03-07 21:13] biomap commented on #754
Well to be honest the error is occurring with your database connection.  Everything is fine with FS as long as it has the DB access to perform the query. Its failing because it doesn't have access to the database to perform the select query or some other query is failing before the select query is issued.  I would dig into your logs and find out what the root of the problem is.  Select queries sho

[2018-03-07 21:16] biomap commented on #754
If you cant trace the problem you could try to wrap your login (where ever its failing) into a try statement but as I say the issue is with psycopg/sqlalchemy and your database connection.

[2018-03-07 21:26] Avamander commented on #754
I wouldn't be surprised if it's just the SQL connection timeouting or some automated update (Ubuntu's) closing the connection, but even then, it shouldn't leave the entire app in an unusable state.

Maybe you can read some solution out of these issues because I couldn't:
https://gitlab.com/mailman/mailman/issues/313
https://bitbucket.org/zzzeek/sqlalchemy/issues/3919

The worst case I'm just going

[2018-03-07 21:35] biomap commented on #754
Are you using this version of PG?  9.3.x?  If so maybe try to upgrade to the latest version of postgresql which is 10.x. https://www.postgresql.org/download/linux/ubuntu/

If its not in production and you are not worried about data loss you could just do it and uninstall the other or do a dump of the data and retain or you could run an additional pg server side by side on another port.

It appears

[2018-03-07 21:48] biomap commented on #754
Hmm.... well reading more into that sqla thread it appears they have implemented something within sqlalchemy itself to resolve that issue.  It maybe a case of just upgrading to the latest version of sqla that would do it.  Also I saw in the same thread that Mike suggests disabling pooling entirely but that would be up to you.

If it were me I would upgrade my sqla version to the latest and see if

[2018-03-09 11:28] nbob opened #766 "SQLAlchemy models outside flask app"
My Alchemy models extended from `sqlalchemy.ext.declarative.declarative_base()` and it is not possible to subclass from `db.Model`, because I want to use my model not only in flask app.

How can I use plain SQLAlchemy models in my flask-security application?
Or it is not possible by design?

[2018-03-11 00:29] biomap commented on #766
db.Model is a declarative base just modified by Flask-SQLAlchemy.  Flask-Security (FS) uses regular models.  This has nothing to do with FS.  I think you need to look at contexts in the core Flask documentation.

[2018-03-12 14:26] NoHeDidnt commented on #738
I get the same error and running the command raises a 406-Error.

[2018-03-25 05:14] zhookz commented on #731
this issue is quite annoying, one simple call takes 600ms+, while it takes <100ms when there was no token authentication involved.

[2018-03-25 05:20] pahrohfit commented on #731
Install and run “haveged” and try again.

From: zhookz <notifications@github.com>(mailto:notifications@github.com)
Reply: mattupstate/flask-security <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: March 25, 2018 at 01:14:42
To: mattupstate/flask-security <flask-security@noreply.github.com>(mailto:flask-security@noreply.github.com)
CC: pahrohfit <rob@wargam.es>(mailto:rob@wargam.es),

[2018-03-27 09:57] kfeina opened #768 "SECURITY_MSG_PASSWORD_NOT_PROVIDED - Possible BUG"
Hello,

Defining SECURITY_MSG_PASSWORD_NOT_PROVIDED in config.py, returns the following error, after you click the login button in the default form.

This usually happens when the field password is empty and you click twice.

Can you help me?

Thanks  a lot.

-----------------------------------------

TypeError
TypeError: 'NoneType' object has no attribute '__getitem__'

Traceback (most recent cal

[2018-03-29 17:39] HarrySky opened #769 "roles_accepted and roles_required redirects instead of calling unauthorized_handler"
If using decorators `roles_accepted` or `roles_required` and user don't have the role that is needed - he will be redirected from domain.com/tester to domain.com/ , when it is expected that `unauthorized_handler` should be called. Decorator `login_required` works fine. What is the problem? Maybe for roles I need to define another callback?

[code]

[2018-04-02 20:24] satyajeetnim opened #770 "Unable to Add custom fields to Register form"
I have followed the steps listed here: https://pythonhosted.org/Flask-Security/customizing.html#forms
Also I have looked at a lot of similar issues and tried the solutions mentioned there, but all in vain.
Basically, I simply want to add a Name field in the registration form, but it isn't working. These are my changes:

forms.py
======
[code]

models.py
=======
[code]

init.py
=====
[code]

In add

[2018-04-04 22:27] briancappello commented on #769
The problem is that `app.login_manager` is part of Flask-Login, but Flask-Security uses its own separate unauthorized handler attribute.

Depending on whether or not you're using the application factory pattern, what you need to do looks like this:

[code]

[2018-04-04 22:58] HarrySky commented on #769
Yeah, your solution works :+1:  Thanks! Do I still need @app.login_manager.unauthorized_handler decorator after setting unauthorized_handler explicitly?

[2018-04-04 22:58] #769 closed, assigned to nobody

[2018-04-04 23:12] briancappello commented on #769
Only if you want to continue using the `login_required` decorator (which itself is part of Flask-Login). Using `auth_required('session')` from Flask-Security is the equivalent that would use the unauthorized_handler declared on the Security extension state.

Personally, I don't find the singular unauthorized_handler granular enough, so in my projects I actually reimplement the roles decorators so

[2018-04-06 11:55] jeffoneill commented on #770
If you'd like help for something like this, please at least use code formatting and proper code indentation to make it easier for others to read.

[2018-04-07 20:22] satyajeetnim commented on #770
@jeffoneill: Sorry about that, I have updated the original description to add code formatting and indentation to it. Thank !!!

[2018-04-11 22:47] krbullock commented on #340
Looks like this was fixed in #703.

[2018-04-12 08:20] guoqi233 opened #771 "verify_hash"
when i use auth_token_required, the verify_hash function is too slow,how can i optimize it?

[2018-04-15 19:23] IronFist16 opened #772 "Using user-defined view methods with registered Flask-Security Blueprint"
Hi,

I want to know if it is possible to use customized view methods and attach them to Flask-Security Blueprint, this way for example:

[code]

This way, using `url_for_security` I get the correct end view method instead of using Flask-Security's default ones.

Thank you

[2018-04-19 20:18] devrandom commented on #604
[code]

This is bad from several points of view.  It means that emails with leading digits will fail to log in.  It may potentially lead to a security issue, if the app retrieves a different user than expected.

[2018-04-19 22:07] devrandom commented on #604
`isinstance(value, int)` would be the right thing to do here

[2018-04-19 22:09] devrandom commented on #604
alternatively, if you want to support strings, then match against `/^\d+$/`

[2018-04-24 09:49] Seluj78 commented on #493
The thing is, having to use a datastore or having to use MongoDB/SQLAlchemy limits us a lot.

For example, I am required to use PynamoDB right now and I can't use `Flask-Security` which is a real bummer... Any alternatives?

[2018-04-24 12:54] Seluj78 opened #774 "PynamoDB Datastore"
Hi there ! I've been trying to do a PynamoDB User Datastore based on the MongoDB one and I'm stuck.
Here's my `datastore.py` :  https://codeshare.io/5zvqBr

I've copied over parts of Flask-Security's datastore.py and renamed some to match pynamodb's name.
Yet i'm stuck on how to retreive users and access them. Any idea ?

[2018-04-24 12:57] Seluj78 commented on #774
I've opened an issue @PynamoDB to see if they'd know how to do it: https://github.com/pynamodb/PynamoDB/issues/495

[2018-04-25 12:53] Usman17 opened #775 "Redirect unauthorized user to specific url"
I want to redirect user to specific url if user tries open a restricted page without login.
i.e
[code]
And in config.py i have added this line
SECURITY_UNAUTHORIZED_VIEW = '/login'
to redirect user to login page but it always redirect user to home page('/').

[2018-04-25 15:51] IronFist16 commented on #775
Check my question & answer on S.O. [here](https://stackoverflow.com/questions/49965994/login-required-decorator-not-redirecting-to-correct-endpoint/49967672#49967672).

[2018-04-25 21:00] LoganHenderson commented on #496
Very interested in using this for a current project of mine. Is there anything I can do to help move this forward? It seemed like the PR was failing the CI tests from just merge conflicts

[2018-04-26 15:49] TimotheeJeannin commented on #715
@jirikuncar I think it would be better to use `Flask-Babel` instead of `Flask-Babelex`. `Flask-Babelex` is no longer maintained.

[2018-04-29 17:59] briancappello commented on #772
It is sort-of possible, if not necessarily easy/straight-forward.

When you initialize the Security extension instance, you need to pass `register_blueprint=False`. Next, you need to create your own blueprint (named the same as what Flask-Security expects, aka `SECURITY_BLUEPRINT_NAME`, and register your routes/views with it:
[code]

Now, you use your own `security` blueprint to register views/rou

[2018-04-29 20:42] IronFist16 commented on #772
I got pretty much what you said already configured, what I think I was missing is the last part of your solution where you mentioned to have **_the same endpoint name as what Flask-Security expects_**. So, by this you mean I have to name my login endpoint as `login` (instead my own which is `signin`) and signup endpoint as `register` (instead of my own which is `signup`) ?

[2018-05-04 21:42] #759 closed, assigned to nobody

[2018-05-08 08:38] asif-mahmud commented on #161
besides of added recaptcha support login view should log the failed attempts with IP address if TRACKABLE flag is True. This will help using tools like fail2ban to ban the failed ip addresses for some time or permanently.

[2018-05-10 11:05] JonesH commented on #775
As far as I can see, `roles_accepted` can still take a few kwargs...

[2018-05-10 11:40] eipiminus1 commented on #681
This just bit me. Is there a roadmap on when the fix might be released?

[2018-05-10 22:32] IronFist16 opened #777 "A conflict in validation between forgot_password view function and ForgotPasswordForm.validate method."
Using Flask_security `forgot_password` default view and turning ON the `SECURITY_CONFIRMABLE` flag, during validation process of the `ForgotPasswordForm`, the `forgot_password` view requires `anonymous_user` while the form checks if a confirmation is required which passes `self.user` to `requires_confirmation`. `self.user` is by default `None` and I don't see in related code how it could be someth

[2018-05-10 23:59] IronFist16 commented on #777
It is worth mentioning that I'm sub-classing from `ForgotPasswordForm` as below:

[code]

So, I believe by doing so, I'm not calling the `ForgotPasswordForm` validators, how can I include them in my subclassed form validators?

[2018-05-15 19:20] mrx23dot commented on #630
Please reopen, it gives me error saying I need to choose from the listed items when setting argon2 to SECURITY_ PASSWORD_SCHEMES, needs adding to core.py

[2018-05-16 13:57] alxvallejo opened #778 "Template errors"
I'm encountering an error when I try to override the forgot_template.html template:

Steps to reproduce:
1. Add `myApp/templates/security/forgot_password.html`
2. Copy the template from [https://github.com/mattupstate/flask-security/blob/develop/flask_security/templates/security/forgot_password.html](https://github.com/mattupstate/flask-security/blob/develop/flask_security/templates/security/forgo

[2018-05-16 14:29] alxvallejo commented on #778
I think this was a copy and paste error on my part, closing

[2018-05-16 14:29] #778 closed, assigned to nobody

[2018-05-23 12:20] wjurkowlaniec commented on #476
also in forgot password view it's possible

[2018-05-31 15:24] cthoyt commented on #766
I have worked through this scenario, and I empathize because it was not easy to figure out. There are a couple things I had to do:

1. Bind the engine to your base's metadata

[code]

This engine might come from `FlaskSQLAlchemy` so it might look like:

[code]

2. You also have to set the base's query, which can comes from a session:

[code]

In practice, this can also come from your `db.session`

[2018-06-14 07:45] greole commented on #770
@satyajeetnim Any news on this? It seems I am facing the same issue here.

[2018-06-14 15:34] johnclaro commented on #738
Hi @NoHeDidnt,

This issue helped me out https://github.com/mattupstate/flask-security/issues/685. Setting a value for SECURITY_EMAIL_SENDER fixed the problem for me.

[2018-06-25 03:36] alencool opened #780 "flask-login, alternative-tokens is not implemented"
Currently the login manager's user_loader is set to get a user by id.
This id is set using the get_id method of the User class.

There should be a simple way to replace the user_loader so that you can implement your own id token and invalidate user session when for example a users password is changed.

In the current implementation if a user changes their password, this does not invalidate other l

[2018-06-26 04:41] spitzbubchen commented on #738
pip install --upgrade git+git://github.com/mattupstate/flask-security.git@develop worked for me

[2018-06-28 08:28] #750 closed, assigned to nobody

[2018-06-28 11:23] #728 closed, assigned to nobody

[2018-06-28 11:25] jirikuncar commented on #740
Please follow #731

[2018-06-28 11:25] #740 closed, assigned to nobody

[2018-06-28 11:26] #738 closed, assigned to nobody

[2018-06-28 11:28] jirikuncar commented on #742
There has been many improvement in Flask. Please follow http://flask.pocoo.org/docs/1.0/security/

[2018-06-28 11:28] #742 closed, assigned to nobody

[2018-06-28 11:31] jirikuncar commented on #757
closed via d764909b

[2018-06-28 11:31] #757 closed, assigned to nobody

[2018-06-28 11:32] jirikuncar commented on #763
There might be cases where you want to allow people to use the system even without confirmed email.

[2018-06-28 11:32] #763 closed, assigned to nobody

[2018-06-28 11:35] jirikuncar commented on #771
We can make it optional under a configuration, but in general it should not be removed if we want to invalidate tokens when user changed her password (e.g. after a leak and someone could generate their own tokens).

[2018-06-28 11:39] illume commented on #742
It's not clear to me that the requested secure settings are enabled, or warnings given for the flask-security routes. I think this should be reopened.

[2018-06-28 18:36] fmerges opened #781 "RuntimeError: The configuration value `SECURITY_PASSWORD_SALT` must not be None when the value of `SECURITY_PASSWORD_HASH` is set to "bcrypt""
Previously the default was plaintext, nowadays it's bcrypt, but the usage example on the website does not define the SECURITY_PASSWORD_SALT.

[2018-06-28 21:22] fmerges opened #782 "Problem with LocalProxy for EMAIL_SENDER"
Flask-Security 3.0.0
Flask-Mail==0.9.1

The extension uses the attribute 'email_sender' for the mail sending operations, but the attribute is not a string, its a LocalProxy object:

    'no-reply@localhost'

    <class 'werkzeug.local.LocalProxy'>

In core.py:

    'EMAIL_SENDER': LocalProxy(lambda: current_app.config.get(
        'MAIL_DEFAULT_SENDER', 'no-reply@localhost'
    )),

Which causes t

[2018-06-28 21:27] fmerges commented on #782
https://github.com/fmerges/flask-security/commit/596a69e2762ae74c1428c42b8bf68c1ee4c5dad1

[2018-06-29 10:51] lnlrbr opened #783 "security.context_processor raises RecursionError"
I try to use flask_security with flask_admin, but at start up there's a problem with the context_processor:
[code]
My setup:
- app.py
[code]

- security.py
[code]
- admin.py
[code]

[2018-07-01 18:03] jirikuncar commented on #742
@illume feel free to submit a PR with the docs improvements or optional warnings. I am not sure if it is a good strategy to change Flask defaults by installing an extension (even when it's called "security").

[2018-07-01 18:09] jirikuncar commented on #752
The up-to-date link to the docs is http://flask-security.readthedocs.io/en/latest/configuration.html#miscellaneous (or [search](http://flask-security.readthedocs.io/en/latest/search.html?q=SECURITY_RESET_PASSWORD_WITHIN)).

[2018-07-01 18:09] #752 closed, assigned to nobody

[2018-07-01 18:11] jirikuncar commented on #754
I am closing this issue as it doesn't look like an error in Flask-Security. Please link to the corresponding external issue to help other users. Thanks!

[2018-07-01 18:11] #754 closed, assigned to nobody

[2018-07-01 18:13] jirikuncar commented on #720
Please re-open if you need this feature or you are willing to write a tutorial for other users. Thanks!

[2018-07-01 18:13] #720 closed, assigned to nobody

[2018-07-02 07:39] jirikuncar commented on #782
@fmerges can you please send a PR with the change?

[2018-07-04 16:22] crytos opened #787 "Hey, great project. But can you please show how to use with neo4j"

[2018-07-05 10:48] jirikuncar commented on #787
@crytos you should be able to create datastore and models with `py2neo` which will look very similar to SQLAlchemy version. Can you post models for users and roles you are planning to use?

[2018-07-05 10:49] #766 closed, assigned to nobody

[2018-07-05 10:52] #775 closed, assigned to nobody

[2018-07-05 20:41] jirikuncar commented on #681
@eipiminus1 check #788

[2018-07-07 12:27] mrx23dot opened #789 "app.config['TESTING'] =True suppresses registration emails"
app.config['TESTING'] =True suppresses registration/confirmation emails.

bcrypt==3.1.4
flask==1.0.2
flask-security==3.0.0
flask-sqlalchemy==2.3.2
marshmallow==3.0.0b10
pymysql==0.7.2
SQLAlchemy==1.2.7
Flask-Limiter==1.0.1
geopy==1.14.0
timeago==1.0.8

[2018-07-10 11:00] arpadatscorp opened #790 "UNICODE password normalizing (NFKC)"
NIST standard recommends to use NFKC UNICODE password normalization before hashing.
Is this planned, or possible by extension?

[2018-07-12 17:03] johnroper100 commented on #781
Same issue here

[2018-07-12 20:12] K41t0uK1dd0 commented on #684
I am trying to find any example to send token, after verifying password, from server to the browser, and then how does that send it back for verification?

[2018-07-15 19:35] jminardi opened #792 "Authentication Tokens without globally disabling CSRF"
I have an app with some web views and forms, so I have CSRF enabled. I would also like to have a few API endpoints working with the same app.

It is possible to allow API login (possibly on a different endpoint like `/api/login`) while still allowing CSRF on all web app endpoints?

[2018-07-16 12:33] reem-codes opened #793 "how to change email.header for flask security"
I had t[his issue with flask mail ](https://github.com/mattupstate/flask-mail/issues/128)and fixed it by changing email.header.MAXLINELIN. Now all my emails are properly sent except the ones by flask security .. The proplem still happens there so I thought about changin the email header.  how can I import it and change it? from which package?

[2018-07-20 01:08] cleberangelo opened #794 "Deactivated user can still login"
Hello;

I'm testing flask-security and I think that i have found a issue. After deactivate a user with
[code]
the user are still capable of login. I inspected the db, user table has the field **active** defined as false, so the command its ok, but in some point of the lib a inactive user should not login but, that is not happening.

[2018-08-01 18:49] apmechev opened #795 "Email Confirmation raises sqlalchemy.exc.InvalidRequestError"
Hi all,

I'm attempting to use the ConfirmRegisterForm in flask-security, however when the confirmation email is clicked, I get an sqlalchemy.exc.InvalidRequestError

views.py:
[code]

\_\_init\_\_.py
[code]

model.py
[code]

database.py
[code]

I would guess there's an issue with the order of imports, since the rest of my code is taken from the flask and flask-security tutorials, and I'm just usi

[2018-08-01 19:26] apmechev commented on #795
Repeatedly visiting the link also increments the session number:

[code]
Am I missing a 'commit' somewhere?

[2018-08-01 21:56] apmechev commented on #795
Solved by not using the SQLAlchemyUserSessionDatastore but the SQLAlchemyUserDatastore:

[code]

[2018-08-01 22:01] #795 closed, assigned to nobody

[2018-08-01 23:47] threemonks commented on #530
Were there any update on this issue?

[2018-08-30 11:58] landmaj opened #799 "Release a minor version to PyPi"
There has been no release since June 2017. A minor version release with fixes would be appreciated.

For example this fix (https://github.com/mattupstate/flask-security/commit/a6479bebc26fbe07496c02c8abf76aff64f23949) is almost a year old, yet the release version still tries to call .get() on strings (which are just as valid JSON as objects or arrays). This breaks my test cases and forces me to wr

[2018-08-31 13:55] ikukuvision opened #800 ":sos: ExtendedConfirmRegisterForm edit user after registration"
Hello everyone. I'm new to flask security and getting to grips. Great Project. I have a question and i apologize if it has already been asked. I've done a search and i couldn't find anything.

I have expanded the ConfirmRegisterForm with extra fields to make it a full registration form. Everything is working fine with Registration and it saving to my SQLite database.

However, I want to give the u

[2018-09-01 16:47] monsurvey1 opened #801 "help wanted, login error messages not translated"
Hi, I use the flask-security and flask-babelex, tried to make a multi language website, everything is working fine, login page is translated, my problem is the error messages never translated in the next request, I should reload the complete app so that it will be translated, and once it is translated for example in French, it can not return to English if I switch the language in the next request,

[2018-09-11 19:39] monsurvey1 opened #803 "possible error in the register view in views.py"
[code]
the or request.is_json prevent sending ajax to the register_form, as always the form_class becom a confirm_register_form if we send json data in the request.

for me I remove it to be
[code]
please let me know if you are using this "or" for any other specific reason, otherwise it is really prevent the register form from getting the data by ajax.

[2018-09-16 15:34] tiburona opened #804 "testing app with mock/patch causes flask-security error regarding missing translation file"
I'm using Python 2.7, the unittest in the standard library, and I installed the mock package;

Right now I'm trying to patch os.path.exists and one of my own functions. If I patch my own function, the test (which right now is just an assert True) executes. If I try to patch os.path.exists, like so

[defined in a helper file and imported]

    def mock_os_path_exists(arg):
        return True

Then

[2018-09-17 07:14] buchbend commented on #757
Just wanted to let you know that the typo is still online at https://pythonhosted.org/Flask-Security/quickstart.html#id8 which is what brought me here...

[2018-09-17 22:45] biomap commented on #757
I fixed it but it was posted to the develop branch.  I'm sure the website is pulling from the master so idk what happened.

[2018-09-18 10:15] lalit-lintel opened #805 "Where is the details documentation to implement listed feature."
How can I build rest api to reset password, I don't want any form or template.

[2018-09-18 23:21] biomap commented on #805
Forms do not have to be rendered in HTML.  They are used for validation and format.  The function you are asking about will take a json object.  If you provided the appropriately formatted json object to the endpoint in question it should work just fine.  This is not a rest based library so there is not a formal api, however it supports json requests and responses.

[2018-09-18 23:28] biomap commented on #805
Hmm.. well on further examination that view does not accept/respond in json or HTML.  It requires it to be done only in HTML.  My apologies the rest of the views do accept json and respond with json however this one does not.  This functionality could be added I presume if you wanted to follow the code style and submit a pull request.

[2018-09-21 07:23] skulltech commented on #789
I'm encountering this problem as well, and this needs to be fixed somehow. Something like printing the email to be sent in the console when in `TESTING` mode, would that be a good way to approach it? I can send a pull-request to fix this, once you approve this approach. @mrx23dot @mattupstate @jirikuncar

[2018-09-21 16:50] ds283 opened #806 "Infinite redirect cycle with @roles_required, @roles_accepted"
I am seeing an infinite redirection cycle from views protected by `@roles_required` or `@roles_accepted` when an attempt is made to access them by an unauthorised user. In my application this typically happens when a user _has been_ logged in correctly, but the server-side session data is lost because of expiry in the storage backend.

When this happens, the decorators detect that permission to ac

[2018-10-03 09:44] micfan opened #807 "How to exempt children URLs from parent @auth_token_required"
* Hi author, I'd like to learn that how to exampt a child router URL from his parent router's `@auth_token_required`, is there someone have any idea?

* And promote the SQL performance is better

[2018-10-10 19:47] jirikuncar commented on #604
@devrandom can you please submit a PR? You can start from #633. Thanks!

[2018-10-18 09:25] nhoening commented on #794
It works for me on 3.0.0. Inactive users cannot login via UI (message on screen: "Account is disabled")

[2018-10-20 16:28] waylonwang commented on #731
I have the same issue...

[2018-10-20 16:30] waylonwang commented on #731
It's worked, thank you very much!

[2018-10-20 16:31] waylonwang commented on #731
It's working, thank you very much!

[2018-10-26 12:33] lnielsen commented on #799
@mattupstate A new release would be much appreciated. Similar we're dependent on fixes done in the past year.

[2018-10-27 21:09] andreademasi opened #810 "Disable login template from @login_required"
Is it possible to return a 401 error instead of the login form when the user is not logged in?

[2018-11-02 12:41] micfan commented on #769
@briancappello

the 403 Forbiden is proper, but with a `forbiden_handler(self, fun)` is better

[2018-11-06 09:34] #807 closed, assigned to nobody

[2018-11-06 22:38] zprobst commented on #774
I've managed to implement it with a Global Secondary Index. You have to create a Global Secondary Index with email as a Hash Key. Flask security can come to your datastore and ask for the user with either an id or an email so you need to support both. A Global Secondary Index is the way to do so.

A few notes:

You can read about setting a global secondary index [here](https://pynamodb.readthedocs

[2018-11-06 22:47] zprobst commented on #774
The more I think about it, you could lie a little bit to flask security and have the two fields have the same value and then you wouldn't need a secondary index. However, the rest of my application somewhat depends on having an arbitrary id. Also, this means changing a person's email would be tricky to implement and could really break things. Something else to explore.

[2018-11-06 23:03] zprobst commented on #810
I too am investigating this. I'll update here if I find a solution to this.

[2018-11-12 06:21] michaelbukachi opened #812 "Add dynamic permissions"
Hello. Would it be possible to add permissions per add endpoint? That is, a user has a role, a role has a list of permissions. An endpoint would be decorated by  a `@permission` decorator. So two roles can have the same permission. An implementation of the decorator that I use for one of my projects is shown below:
[code]

The decorator is used as follows:
[code]
I'm willing to work on it and crea

[2018-11-14 10:41] kuba-lilz commented on #685
Any roadmap for when master with fix to this problem will be release on pip?
Currently I have to manually install flask security with `pip install git+https://github.com/mattupstate/flask-security`, which doesn't get traced in Conda's environment definition.

[2018-11-23 08:18] kantorii opened #813 "Flash message after Reset Password page says "logged in automatically", but it isn't"
The default flash message after resetting the password is:
"You successfully reset your password and you have been logged in automatically."

However, in flask_security
- I don't see code that logs the user in.
- Fixing the default message breaks all the translations.

The workaround is to define SECURITY_MSG_PASSWORD_RESET, but I'm not sure if all programmers will realize that.

[2018-11-26 15:22] BbsonLin commented on #783
Hi, @LionelR I also face the issue just like you.

I find out that in version 3.0.0's **flask_security.Security** `init_app` function is a little bit different from `__init__`.
It won't assign `self._state` when using `init_app` way, but it'll return state object for you.
So, I guess, that's why the `getattr` would never find `context_processor` attribute in `self._state`. 😢

For now, I found ther

[2018-11-28 16:45] idchlife opened #814 "Does not show errors on user/password incorrect in pytest"
Here is the code written for testing

[code]

There are no error messages in html. Nothing.

When I do not provide email/password there is error shown - password/email is not provided

[2018-12-01 21:03] TaaviE commented on #715
Flask-Babelex combined with Flask-Babel used by other projects is really causing super annoying incompatibilities on Python 3.7 across distributions. It would be really appreciated if this dependency is dropped or at least there'd be an option to disable it's use.

[2018-12-02 01:01] mkschulze opened #815 "Passwordless feature still experimental?"
Hello,

I'm new to flask and flask-security and really am interested in the "experimental" passwordless login feature in flask-security. Could somebody maybe show an example implementation and elaborate on what to take care of in addition security wise or what is the reason for the experimental state?

Is it actually still considered experimental or is just the docs not up to date on that part?

t

[2018-12-11 20:29] ivymichael opened #816 "Flask-Bcrypt compatibility? Invalid password when login"
Hi

I disabled the Flask-Security registration form, and use my previous registration form, here is how I store the password based on user submitted form data:
[code]
However, when try to login by using Flask-Security built-in login form, it says invalid password,
then I checked the documentation, I found it might be related to the HMAC idea here,
is it possible that somehow I generate the hashed